[2016-05-17 17:25] sethladd opened #634 "Integration of circular progress indicators with other widgets"
From https://www.google.com/design/spec/components/progress-activity.html

[2016-05-17 19:06] sethladd opened #635 "Demo swipe gesture for cards in gallery"
From https://www.google.com/design/spec/components/cards.html#cards-behavior

"The swipe gesture may be used on a per-card basis. Limit swipe gestures within a view so that they don’t overlap with one another. For example, a swipeable card should not contain a swipeable image carousel, so that only a single action occurs when the card is swiped."

[2016-05-20 16:10] sethladd opened #633 "Gallery app would like a way to report crashes"
We'd like to capture and measure crashes in the wild. We should find a good way to do this in Flutter apps.

Perhaps we can try https://firebase.google.com/docs/crash/

[2016-05-20 16:13] sethladd opened #636 "Gallery app would like to measure usage"

[2016-09-22 21:51] sethladd opened #637 "Changing theme in Gallery misses frames"
Open Gallery, open drawer, change the theme to dark, then back to light:

![screenshot_20160922-144814](https://cloud.githubusercontent.com/assets/5479/18767433/f94b1d16-80d3-11e6-8d3b-343aaf05d57a.png)

[2017-10-30 18:30] xster opened #638 "Have a Sliver demo in the Gallery"
Hope it's not a dupe.

Would be nice to catalog some sliver widgets in the gallery and common usage patterns.

[2017-12-16 02:34] xster opened #639 "Show SF font on Android in the gallery"
Demo'ing iOS looks on an Android device with the gallery looks weird currently due to typography. Figure out a way to bundle a SF or SF-like font so Android can display something nicer.

[2018-02-27 03:42] realcarlos opened #640 "Would like an infinite scrolling example demo"
now , there is only a Pull down refresh demo, but the load more function is more useful

[2018-10-01 12:52] mit-mit opened #646 "Plugin uses or overrides a deprecated API Warnings While Compiling Flutter Gallery To An APK"
[code]

[2018-11-25 00:51] feinstein opened #641 "[Shrine] example doesn't match with material studies shrine specs"
I just downloaded and run the Shrine demo App, so far I can identify  these issues:

1 - The login screen has a login button missing text and theme:

![image](https://user-images.githubusercontent.com/8120472/48974277-23410300-f03b-11e8-8211-c828f4798fda.png)

2 - There's no Launch Screen, as described in the study here: https://material.io/design/material-studies/shrine.html#motion

3 - The searc

[2018-12-11 01:29] xster opened #642 "Add a gallery demo for repeat-tap tab to pop/scroll-up"
A common pattern in iOS where re-tapping the same tab scrolls to the top of the page or pops all the routes on the nav stack.

[2019-01-17 05:50] kirgene opened #896 "Gallery UI is extremely slow"
I've installed [Flutter Gallery](https://play.google.com/store/apps/details?id=io.flutter.demo.gallery) app on my Android phone and noticed that animations, scrolling and transitions are lagging.

Interesting observation: often once particular animation was performed it not longer lags. Same applies to scrolling: once I scroll to the end of the list scrolling starts working fine.

Seems that there

[2019-04-22 20:40] xster opened #645 "Add an example of Material BottomNavigationBar with navigation"

[2019-05-30 11:33] songtao542 opened #644 "Gallery shrine demo WillPopScope in ExpandingBottomSheet doesn't work!"

[2019-08-01 23:21] liyuqian opened #897 "Monitor performance of Flutter Gallery"
Maybe we can start with some in-house apps such as Flutter gallery and Google Ads using Android Vitals and Firebase Performance Monitoring.

Some interesting metrics might be: crashes, ANRs, battery, FPS, memory, startup time, frame build/rasterize time, latency...

The Flutter team is now focusing on [Add performance monitoring to Gallery on web/iOS/Android flutter/flutter#69](https://github.com/

[2019-08-22 16:24] shihaohong opened #643 "Gallery should implement full screen / edge-to-edge for Android Q+ devices"
Currently, flutter_gallery shows a black bar on the bottom of the screen where the system gestures are for Android Q+. However, the recommendation by Android suggests that we should now be making the system navigation bar transparent to take advantage of the entire screen.

What it looks like now:
![example_bar](https://user-images.githubusercontent.com/27032613/63531588-ac4b7480-c4bd-11e9-9d21-70

[2020-03-30 16:11] guidezpl opened #28 "Crane - Improve Focus support"
## Acceptance Criteria
* You can only navigate the navigation at the top the first time, when you have reached the destinations it is not possible to go back to the top
* If you shift-tab the first thing you do as you enter the app, it should scroll down all the way to the bottom as a destination on the bottom now has focus. (this should probably be a flutter/flutter issue)

Migrated from https://

[2020-03-30 16:11] JoseAlba opened #29 "Build additional screens for Fortnightly (5)"
## Acceptance Criteria
* Take the article view from the old gallery and repurpose it so tapping an article from home takes you there.
* Build the desktop layout for it
* Ensure a11y and l10n

Blocked on #238
Migrated from #https://github.com/material-components/material-components-flutter-gallery/issues/537

[2020-03-30 16:15] perclasson opened #30 "Investigate why fonts are being downloaded multiple times"
When looking at the studies inside of a browser, it seems like the fonts are being downloaded multiple times when looking at the network tab inside of chrome.

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/572

[2020-03-30 16:15] johnsonmh opened #31 "Display a carousel of generative art on splash screen"
Migrated from: https://github.com/material-components/material-components-flutter-gallery/issues/31

## Acceptance Criteria
* On app launch, a random piece of generative art is displayed
* When the home screen is pulled down and splash screen is visible, the art is displayed in an interactive carousel that allows user to swipe between pieces of art
* The art has an attribution with a link to the a

[2020-03-30 16:15] clocksmith opened #32 "[Performance] Settings scale transition is choppy"
When opening settings, the scale transition skips frames

https://github.com/material-components/material-components-flutter-gallery/issues/560

[2020-03-30 16:15] perclasson opened #33 "[Performance] Use deferred loading to improve performance"
## Acceptance Criteria
* The studies load asynchronously after the initial page load
* Load non necessary locales asynchronously

https://dart.dev/guides/language/language-tour#deferred-loading

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/571

[2020-03-30 16:16] pennzht opened #34 "Build additional screens for Shrine"
## Acceptance Criteria
<tbd>

[2020-03-30 16:16] johnsonmh opened #35 "Seemingly no way to obtain device locale on desktop"
Migrated from: https://github.com/material-components/material-components-flutter-gallery/issues/458

See https://github.com/flutter/flutter/issues/45343. This affects all desktop builds (macOS, windows, linux)

For now, we force the system locale to be en_US

[2020-03-30 16:16] perclasson opened #36 "Homepage - Improve Focus support"
- On the homepage you should get focus on the settings icon first, then studies, then the demos.
- Settings should be settable with Focus (?).

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/569

[2020-03-30 16:17] perclasson opened #37 "Code segment generator will get different imports on unix and macOS, verify-l10n is different on windows"
## Code segments generator has different output for unix and macOS
See the transformations demo.

In the subsegment `transformationsDemo#2` we have the imports and these are the outputs generated on a macOS system:

[code]

In the subsegment `transformationsDemo#3` we have the imports and theser are the outputs generated on Ubuntu:
[code]

## Verify l10n has different output on Windows
To be debug

[2020-03-30 16:17] pennzht commented on #34
https://github.com/material-components/material-components-flutter-gallery/issues/91

[2020-03-30 16:18] pennzht opened #38 "Finish Remaining Details of Shrine"
## Acceptance Criteria
Finish the following parts for the Shrine desktop layout:
- [x] **11-25** Desktop login screen (material-components/material-components-flutter-gallery#356)
- [ ] Some minor details
  - [x] **12-17** Use correct letter spacing for certain labels (https://github.com/flutter/samples/pull/187)
  - [ ] Use correct vertical gaps between cards
    * Make sure vertical gaps between

[2020-03-30 16:18] perclasson opened #39 "Add Screenshot tests"
## Acceptance Criteria
* Golden tests for the demos
* ~~Add the tests to https://github.com/flutter/tests/blob/master/registry/flutter_gallery.test~~ This is not possible due to differences in how the tests will be run on different machines.

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/547

[2020-03-30 16:18] clocksmith opened #40 "Backdrop animation is choppy on web and desktop"
The animation that shows and hides the flutter animation (by hiding and showing the backdrop) is no longer choppy

original issue: https://github.com/material-components/material-components-flutter-gallery/issues/570

[2020-03-30 16:18] perclasson opened #41 "Implement Owl Study (13)"
## Acceptance Criteria
* Request a banner from Liam
* Utilize the small amount of Owl code that exists at https://github.com/material-components/material-components-flutter-experimental/tree/master/advanced/lib/Owl
* Expand on this and add desktop layout

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/533

[2020-03-30 16:19] JoseAlba opened #42 "Localize the phone number and salary in text field demo"
## Acceptance Criteria
* Phone number is localized in text field demo
* Salary is localized in text field demo

#https://github.com/material-components/material-components-flutter-gallery/issues/343

[2020-03-30 16:19] perclasson opened #43 "Automate the release process (5)"
## Acceptance Criteria
* Automate releases when a tag is added
  * Add Android build
  * Deploy to web with Firebase
  * Create release on github with macOS/linux/windows (if possible)

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/521

[2020-03-30 16:19] pennzht commented on #38
https://github.com/material-components/material-components-flutter-gallery/issues/141

[2020-03-30 16:20] perclasson opened #44 "[Performance] Shrine menu icon animation motion jumps a bit"
## Acceptance Criteria
* Investigate and fine tune the motion to match the spec

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/442

[2020-03-30 16:20] guidezpl opened #45 "[Performance] Add flutter_gallery__transition_perf benchmarks of the new Flutter gallery app"
See https://github.com/flutter/samples/issues/309

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/559

[2020-03-30 16:20] clocksmith opened #46 "[Performance] Settings locale list initial load is slow (3)"
### Acceptance Criteria
* Expand/collapse animation for settings should be smooth
* Look into different ListView constructor that recycles items

original issue: https://github.com/material-components/material-components-flutter-gallery/issues/346

[2020-03-30 16:20] pennzht opened #47 "Update code viewer script to replace localizations with english strings"
In order to make the copied demo code runnable, we can update the script to replace the `GalleryLocalizations.of(context).foo` with the english strings.

[2020-03-30 16:20] JoseAlba opened #48 "Localize app name"
## Acceptance Criteria
* The app name should be localized

Currently:
![Simulator Screen Shot - iPhone 11 Pro - 2019-11-19 at 14 10 48](https://user-images.githubusercontent.com/6655696/69149263-68750500-0ad6-11ea-85ca-49e543512455.png)

#https://github.com/material-components/material-components-flutter-gallery/issues/285

[2020-03-30 16:21] rami-a opened #49 "Implement category tile expansion with translucency and scroll beneath"
## Acceptance Criteria
* When category is expanded the header moves to the top of the screen
* Header then has translucency and demos scroll beneath it
* This could maybe be done by presenting a new route with a custom transition (maybe using a Hero)
* The UX is a bit unclear as to what happens when you scroll to the top

<img width="323" alt="Screen Shot 2020-01-29 at 4 40 30 PM" src="https://use

[2020-03-30 16:21] pennzht commented on #47
https://github.com/material-components/material-components-flutter-gallery/issues/463

[2020-03-30 16:21] guidezpl opened #50 "[Performance] All Apps load very slowly initially"
On all (Rally, shine, fortnightly etc) apps the initial load is janky
Second time loading is better but still a bit slow

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/556

[2020-03-30 16:22] pennzht opened #51 "Shrine: Improve Screenreader Support"
## Acceptance Criteria
* Let the screen reader go through widgets in a desired order. (Fine tune `OrdinalSortKey`)

## Potential Additions
* Let every **screen** be read with a summary.
* Let every **page change** have a voice feedback (such as closing the cart).

[2020-03-30 16:22] rami-a opened #52 "When using web/desktop, cursor should change to a pointer when hovering over interactive elements"
flutter/flutter feature request

[2020-03-30 16:22] guidezpl opened #53 "[Performance] Add scrollbars to scrollable screens"
## Acceptance Criteria
* Everything scrollable should have a scrollbar

Relates to flutter/flutter#36474.

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/550

[2020-03-30 16:23] JoseAlba opened #54 "Suggestion: add omit_local_variable_types to linter"
For new code, we have been trying to omit types for local variables.
There are ~100 instances where we use types for local variables (mostly in the studies). We should consider adding this rule to our linter to be consistent. Something to consider is that these studies might be merged back into flutter/samples.

## Acceptance Criteria
* rule added and followed either everywhere, or everywhere exce

[2020-03-30 16:23] pennzht commented on #51
https://github.com/material-components/material-components-flutter-gallery/issues/405

[2020-03-30 16:23] rami-a opened #55 "URL launcher plugin does not work on Windows/Linux"
## To repro
* Launch app on windows/linux
* Go into a demo and tap API doc button
* Observe nothing happens

## Acceptance Criteria
* We should either find a way to launch a URL for windows/linux

The solution that was used for macOS doesn't work since it relies on a git URL and that doesn't work for linux/windows according to https://github.com/google/flutter-desktop-embedding/blob/master/plugins

[2020-03-30 16:23] pennzht opened #56 "Shrine - No visual indicator when adding the same item multiple times (2)"
## Acceptance Criteria
* The cart should somehow indicate that an item was added even if its the same type.
* Work with designer to determine the best way to do this

[2020-03-30 16:24] clocksmith opened #57 "[Performance] Resizing Window is not smooth"
Resize from the bottom right or left hand corner of window
A black background appears before it is filled in with the purple card color
Notice that the cards/assets on the main page shift slow and janky, not smooth at all

original issue: https://github.com/material-components/material-components-flutter-gallery/issues/549

[2020-03-30 16:24] rami-a opened #58 "Cupertino Alerts on web have a strange artifact on the button"
## Acceptance Criteria
* Should render normally

<img width="518" alt="Screen Shot 2019-11-14 at 9 25 04 AM" src="https://user-images.githubusercontent.com/2364772/68839313-bfd33980-06c0-11ea-87c0-d143bf335f7b.png">

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/211

[2020-03-30 16:24] pennzht commented on #56
https://github.com/material-components/material-components-flutter-gallery/issues/349

[2020-03-30 16:25] pennzht opened #59 "Implement tab navigation support - Shrine"
## Acceptance Criteria
* Tab navigation for Shrine on Web works correctly.

[2020-03-30 16:25] guidezpl opened #60 "Implement Reply Study (13)"
## Acceptance Criteria
* Request a banner from Liam
* Utilize the code built by an external contributor at https://github.com/flschweiger/reply if they allow us to
* Expand on this and add desktop layout

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/534

[2020-03-30 16:25] JoseAlba opened #61 "Integrate apps with Firebase Crashlytics"
## Acceptance Criteria
* Integrate Firebase Crashlytics into Android and iOS versions

#https://github.com/material-components/material-components-flutter-gallery/issues/151

[2020-03-30 16:25] rami-a opened #62 "Shrine - Removing item from cart with screen reader should move focus to top of cart"
## Acceptance Criteria
* a11y focus moves to top of cart of removing item

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/488

[2020-03-30 16:25] pennzht commented on #59
https://github.com/material-components/material-components-flutter-gallery/issues/316

[2020-03-30 16:25] clocksmith opened #63 "[Performance] Rally numbers missing inside tab's content"
## To repro
* Initial load, clicked through all the tabs and the numbers were there for each except budget
* Then went back to the other tabs and the numbers were missing
* Went back to main page
* Opened rally again and now bills showed a number but the others didn't
* After a few click through tabs the bills number also disappeared

## Acceptance Criteria
*Numbers should not disappear

original

[2020-03-30 16:26] pennzht opened #64 "Shrine: Make Cart overflow number display correctly in RTL in Web (2)"
## Issue
The overflow number is a number shown on the cart tray such as "+1" when the number of products is too large.
Currently, the overflow number is not displayed in full when

- Shrine is run in Web, and
- The text direction is RTL.

This issue **only** exists in RTL in Web, but exists for both mobile and desktop.

## Acceptance Criteria
* Shrine's cart overflow number displays correctly in R

[2020-03-30 16:27] clocksmith opened #65 "Allow the back button in studies to be focusable"
Right now if you are inside of a study you cannot navigate to the back button with focus, as it is outside of the current navigator.

This issue is blocked by: flutter/flutter#47344

original link: https://github.com/material-components/material-components-flutter-gallery/issues/566

[2020-03-30 16:27] pennzht commented on #64
https://github.com/material-components/material-components-flutter-gallery/issues/333

[2020-03-30 16:27] guidezpl opened #66 "Shift-tab appears to not work"
## To repro
* Use tab navigation on home screen or on rally login screen
* Observe that you can't shift-tab to go backwards

This used to work before the new focus changes that were added recently

I'm also noticing the following exception that appears related:

[code]

## Acceptance Criteria
* Shift-tab behavior works to go back up the chain
* No exception is thrown

Migrated from https://github.

[2020-03-30 16:27] JoseAlba opened #67 "Build additional screens for Crane (8)"
## Acceptance Criteria
- [ ] animated loading screen
- [ ] people selection
- [ ] location selection
- [ ] date selection
- [ ] time selection
- [ ] navigation backdrop

(internal) animations are at go/direct/#/spec/42090001+20620001+228960001+242880001+260840001+246850001

#https://github.com/material-components/material-components-flutter-gallery/issues/6

[2020-03-30 16:28] clocksmith opened #68 "Title does not update in browser when navigating back from study"
## Acceptance Criteria
* Go inside of a study, for example Rally, and see that the title updates to Rally.
* Go back to the home page and notice that the title stays as Rally, when it actually should be Flutter Gallery.

## Related issue
* flutter/flutter#53568

original issue: https://github.com/material-components/material-components-flutter-gallery/issues/573

[2020-03-30 16:28] pennzht opened #69 "[Performance] Add performance monitoring to Gallery on web/iOS/Android"
From Yuqian Li: If it's easy to add the monitoring, I do think the data could be very useful for the Q2 overhaul. Have you ever tried https://firebase.google.com/docs/perf-mon ?

[2020-03-30 16:28] guidezpl commented on #66
Current status: Shift-tab now works on macOS, but still does not on the debug build for web. Filed flutter/flutter#52482

[2020-03-30 16:28] pennzht commented on #69
https://github.com/material-components/material-components-flutter-gallery/issues/543

[2020-03-30 16:29] rami-a opened #70 "Keyboard blocks text input field in Material Textfields Demo (1)"
If you open the Gallery app and navigate to Material > Textfields and tap to enter text in the password field, the keyboard comes up and covers the input. You can't scroll the view far enough to uncover it.

## Acceptance Criteria
* Form resizes when keyboard is up (just like in the old Gallery)

Migrated from https://github.com/material-components/material-components-flutter-gallery/issues/538

[2020-03-30 16:30] JoseAlba opened #71 "[Gallery apps Accessibility]: improve window transition semantics for accessibility services on Android"
## Symptom
When moving between the screens inside Gallery apps, such as Shrine or Rally, TalkBack does not place the focus on the first item on the screen.

## Steps to reproduce
* Install and launch Flutter Gallery app.
* Start TalkBack, Settings > Accessibility > TalkBack.
* Open either Shrine or Rally examples.
* Click around on various screens, including the "back" button and observe spoken fe

[2020-03-30 16:30] clocksmith opened #72 "Build additional screens for Fortnightly (5)"
## Acceptance Criteria
* Take the article view from the old gallery and repurpose it so tapping an article from home takes you there.
* Build the desktop layout for it
* Ensure a11y and l10n

blocked on https://github.com/material-components/material-components-flutter-gallery/issues/238

original issue: https://github.com/material-components/material-components-flutter-gallery/issues/537

[2020-03-30 16:31] guidezpl opened #73 "Home screen on gallery needs improved a11y navigation"
## Acceptance Criteria
* Swipe traversal works in a sensible way
* The "crane" section is reachable via a11y navigation
* Expanding buttons/menus does not disrupt other lists/make announcements about being in a new list of more items than actually available.

## Reproduction steps

Run the gallery on a physical Android device with Talkback enabled.  Start swiping left/right to navigate around. Not

[2020-03-30 16:32] guidezpl commented on #73
Next step is to integrate change from https://github.com/flutter/flutter/pull/45598

[2020-03-30 16:34] #72 closed

[2020-03-30 16:58] goderbauer commented on #71
Have a look at the scopesRoute and namesRoute options of the Semantics widget. Those values are used to indicate to TalkBack that the route visible on the screen has changed and triggers the appropriate announcements.

[2020-03-30 18:04] clocksmith opened #76 "[Performance] Revisit settings icon FlareActor animation"
* Try to further decouple the settings icon from the backdrop
* Move FlareController logic into its own class
* Ensure that flare asset resources are only being allocated when they need to

[2020-03-30 18:37] stuartmorgan opened #77 "Windows and Linux runners should not be checked in"
Those folders aren't stable, so shouldn't be checked in to an example app like this; whether or not they work will depend on the version of Flutter someone is running. If they aren't there, then someone can just `flutter create .` to run Windows or Linux, whereas if they are they have to discover that it's broken, delete the folder, and then run `flutter create .`

At the very least, if there is a

[2020-03-30 18:41] liyuqian commented on #45
@guidezpl : do you have another issue that tracks monitoring new Flutter gallery app's performance in end-user devices (e.g., through https://firebase.google.com/docs/perf-mon), or is that effort also tracked under this issue?

[2020-03-30 18:42] rami-a commented on #45
I believe this is being tracked here:

https://github.com/flutter/gallery/issues/69

[2020-03-30 18:47] liyuqian commented on #69
Does this cover mobile (iOS/Android) performance monitoring, or is this Flutter for Web performance only?

[2020-03-30 18:48] stuartmorgan commented on #55
This is no longer the case, and using a git URL is now the recommended approach for all platforms, so you could add url_laucher_fde to the pubspec now to get Windows and Linux support.

[2020-03-30 19:27] guidezpl commented on #69
This covers all three

[2020-03-31 09:31] kawa89 opened #79 "Generated plural translations are incorrect"
**Describe the bug**
All locales have the values from the default `en` locale for the plural strings. Check the `gallery_localizations.dart` file or generate the files via `grinder`

Example string names: `shrineCartItemCount`, `shrineScreenReaderCart`

Example code from `gallery_localizations.dart` form the `pl` locale.
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` h

[2020-03-31 15:07] guidezpl commented on #79
cc @shihaohong

[2020-03-31 17:10] clocksmith commented on #46
closed by https://github.com/flutter/gallery/pull/27

[2020-03-31 17:11] clocksmith commented on #32
closed by https://github.com/flutter/gallery/pull/27

[2020-03-31 17:11] #32 closed

[2020-04-01 04:37] gregoryyoon opened #81 "compilation error in windows\main.cpp"
**Describe the bug**
compilation error in windows\main.cpp

**Flutter doctor**
PS D:\projects\flutter_prj\gallery> flutter doctor -v
[√] Flutter (Channel master, v1.16.4-pre.34, on Microsoft Windows [Version 10.0.18363.720], locale ko-KR)
    • Flutter version 1.16.4-pre.34 at D:\projects\flutter
    • Framework revision a2d62df3ee (24 hours ago), 2020-03-30 21:51:48 -0700
    • Engine revision c7

[2020-04-01 09:39] guidezpl commented on #81
Thanks for reporting an issue. Can you try the following steps?

1. Delete the 'windows' top-level directory
2. Run `flutter create .`
3. Try running the app again

[2020-04-01 13:39] guidezpl opened #82 "Status bar theme sometimes incorrect"
**Describe the bug**
The status bar theme is sometimes incorrect

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to studies and back home
2. Observe that in some studies the status bar theme is incorrect
3. Observe that sometimes, upon returning home, the status bar theme is incorrect

**Expected behav

[2020-04-02 03:48] gregoryyoon commented on #81
Understood. Thanks so much

[2020-04-02 03:48] #81 closed

[2020-04-03 15:11] #77 closed

[2020-04-07 10:41] guidezpl opened #87 "Reduce repo size"
<img width="500" alt="Screenshot 2020-04-24 at 12 48 51" src="https://user-images.githubusercontent.com/6655696/80206017-eca25a00-862b-11ea-997a-eb41e3c3cce9.png">
The repo has became unreasonably large (352mb), mostly due to a repo history (285mb) containing now deleted media files.

## Success criteria

- [x]  Move crane and splash_effects assets to their own package (and maybe fortnightly for c

[2020-04-08 13:57] clocksmith opened #89 "Focus and keyboard traversal might be broken"
**Describe the bug**
Try navigating with the keyboard on the main screen. Nothing gets highlighted. This might be a regression in flutter/flutter because it used to work.

[2020-04-08 14:00] rami-a commented on #89
Yeah this definitely used to work

[2020-04-08 14:53] clocksmith commented on #63
@mariamhas Can you reproduce this at the latest web release?

[2020-04-08 18:19] gspencergoog commented on #89
It's not actually focus that is broken, it is the focus highlights: the app seems to think it is in "touch" mode, even when it's seen a mouse/keyboard.

It is because of this change I made recently, but I'm not sure what the failure there is yet: https://github.com/flutter/flutter/pull/52990

I'll see if I can come up with a fix.

[2020-04-08 20:03] xster opened #91 "On some widths, the cupertino picker demo overflows"
See screenshot. Right before the layout toggles between 2 columns to 1 column, the list overflows in width.

![Kapture 2020-04-08 at 13 01 06](https://user-images.githubusercontent.com/156888/78828130-135c6180-7999-11ea-94d9-d326cf4851bc.gif)

[2020-04-08 23:46] clocksmith commented on #40
https://github.com/flutter/flutter/issues/54242

[2020-04-09 00:39] mariamhas commented on #63
yes im still seeing the issue, im using a macbookpro with chrome. I also tested it on chrome on  an HP windows and seeing it there as well.

[2020-04-09 09:59] perclasson commented on #52
Related to https://github.com/flutter/flutter/issues/31952

[2020-04-09 22:01] clocksmith commented on #46
It appears that no extra builds are being done, and that the settings locale list is already in a builder.

I think this will be good to revisit after flutter/flutter#54242 is resolved.

[2020-04-10 19:07] #54 closed

[2020-04-10 19:11] #79 closed

[2020-04-14 09:00] perclasson opened #97 "[Perf] Add integration test for bundle size and start up time of Gallery"
- Add test to for the JavaScript bundle size.
- Start up time of the Gallery, this is dependent on: https://github.com/flutter/flutter/issues/53647

[2020-04-14 10:32] #33 closed

[2020-04-14 10:32] perclasson commented on #33
Closed with https://github.com/flutter/gallery/pull/98

[2020-04-14 18:24] willlarche opened #99 "[Performance] Crane tab jank"
**Describe the bug**
Going between tabs in Crane shows jank on the photos that are sliding.

[2020-04-15 14:53] perclasson opened #101 "[Performance] Add integration test for the JavaScript bundle size"

[2020-04-15 15:01] pennzht opened #102 "[Performance] Add dart2js compilation size testing to Gallery on Web"
Add tests to measure dart2js compilation size for Gallery.

[2020-04-15 15:01] pennzht opened #103 "[Performance] Add performance testing to Gallery on Web"
Add tests to collect frame-related metrics (frame build time, frame rasterization time) for Gallery on Web.

See also: https://github.com/flutter/gallery/issues/192

[2020-04-15 15:47] perclasson commented on #102
@pennzht  This is referring to devicelab test, is that correct?

As I was planning on adding a test for the Gallery with https://github.com/flutter/gallery/issues/101.

[2020-04-16 08:32] #30 closed

[2020-04-16 11:31] #101 closed

[2020-04-16 16:37] guidezpl commented on #66
Closing as the issue has been resolved

[2020-04-16 16:37] #66 closed

[2020-04-17 11:49] DeadlyMissile opened #106 "How was this app able to use the 2018 textTheme set?"
In the gallery theme file, we can see properties like headline4, subtitle2 etc. How to use those in my app?

[2020-04-17 13:19] rami-a commented on #106
Hello @DeadlyMissile, the 2018 text theme properties are available on the flutter master channel and will be shipping with the new flutter stable release. If you'd like to use them in your app now, you may switch to the flutter master (or beta) channel.

Keep in mind that the master channel is constantly changing and may require modifying other parts of your app.

I'm going to close this ticket bu

[2020-04-17 13:19] #106 closed

[2020-04-17 15:51] perclasson opened #107 "Add firebase.json work flow to make sure main.dart.js is renamed when published"
It should be renamed to something random, like the current git SHA, to make sure that it does not get cached when an update is done.

More details on: https://github.com/kevmoo/peanut.dart

[2020-04-20 01:42] MostHated opened #108 "Issue changing theme on Windows 10"
### Bug Report

I went to change the theme to "Dark" from "System" (my system is dark, but the app was set to light anyways from the start) and the settings menu changed color but the main screen only gave the error log entries seen at the bottom of this post:

I then closed the app, started it again and then it was able to change the theme color. I tried a third time and the error happened again.

[2020-04-20 19:17] guidezpl commented on #99
@willlarche I'm unable to get below 20fps with the latest master, can you repro?

[2020-04-20 19:25] willlarche commented on #99
I don't know if it's below 20 but it's still way below 60. Is 20 the goal?

[2020-04-20 19:43] guidezpl commented on #99
60 is the goal, but for something like this, I think it's acceptable so long as it isn't noticeable. Do you see a difference between when you reported the bug and now?

[2020-04-20 19:47] willlarche commented on #99
I can’t recall. But I do think it’s noticeable enough to deserve a look.

On Mon, Apr 20, 2020 at 15:43 Pierre-Louis <notifications@github.com> wrote:

[2020-04-21 07:02] Berlin047 opened #112 "Hi"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-22 11:14] guidezpl commented on #99
Fixing https://github.com/flutter/flutter/issues/21389 would help

[2020-04-22 20:49] #112 closed

[2020-04-23 11:39] guidezpl commented on #89
Thanks, it works again

[2020-04-23 11:39] #89 closed

[2020-04-23 13:52] guidezpl commented on #28
Filed https://github.com/flutter/flutter/issues/55452 and https://github.com/flutter/flutter/issues/55457

[2020-04-23 15:36] guidezpl commented on #45
https://github.com/flutter/flutter/pull/55181 closes this

[2020-04-23 15:36] #45 closed

[2020-04-23 15:42] #102 closed

[2020-04-23 15:53] clocksmith commented on #63
To reproduce, open Rally, then go to Accounts, then to Budgets, then Back to Accounts.

[2020-04-23 16:05] clocksmith commented on #57
blocked by flutter/flutter#50814

[2020-04-23 16:08] clocksmith commented on #35
blocked by flutter/flutter#45152

[2020-04-23 16:10] clocksmith commented on #64
blocked by flutter/flutter#46019

[2020-04-23 16:12] #62 closed

[2020-04-23 16:13] clocksmith commented on #58
blocked by flutter/flutter#49877

[2020-04-23 17:20] guidezpl commented on #73
Verified that the issues raised above are fixed. Found 2 remaining issues

- [ ] There are 2-3 unnecessary (and unannounced) items when opening the settings. Should go Close button  → Text scaling  → ...
- [ ] There is an unnecessary (and unannounced) item after the "Settings (button)" item

[2020-04-24 00:09] clocksmith opened #118 "Shadows are too hard on mobile web vs mobile native"
Shadows will never look exactly the same, but there is a particularly large difference between the slider thumb shadow on mobile web and mobile native. For this shape, `canvas.drawShadow` is used rather than the `Material/PhysicalShape` method of pushing a `PhysicalModelLayer`

mobile web
![Screenshot_20200422-142107](https://user-images.githubusercontent.com/591699/80161410-5116d800-859e-11ea-99b

[2020-04-24 01:21] clocksmith commented on #46
Look into getting rid of shrinkWrap and setting a fixed height based on number of items or https://api.flutter.dev/flutter/material/ExpansionTile-class.html

[2020-04-24 10:02] guidezpl opened #119 "Home page should not build non-visible items"
- [x] Use a ListView.builder instead of a ListView for Material, Cupertino, and Other demos

[2020-04-24 10:11] guidezpl commented on #57
When in a study/demo, the entire widget tree is being rebuilt, not only that of the study/demo, but also the entire homepage.

[2020-04-24 17:16] guidezpl commented on #55
Discussed offline, will hold off on this until plugin support for linux/windows is stable

[2020-04-24 17:18] guidezpl commented on #108
FYI, platform brightness detection is not yet implemented on Windows, but the error you were running into will be fixed

[2020-04-24 17:27] #108 closed

[2020-04-26 14:19] prabhatkumar7319818147 opened #122 "Learning ui"
Just for educational purpose.

[2020-04-27 11:25] #91 closed

[2020-04-27 18:04] clocksmith commented on #118
File a new bug in flutter/flutter

[2020-04-27 18:16] clocksmith commented on #58
Recommendation workaround is to modify the Cupertino alert with a `kIsWeb` check that does not paint this filter.

[2020-04-28 13:48] #39 closed

[2020-04-28 15:27] perclasson opened #128 "Figure out if its possible and needed to run golden tests on flutter/tests"
Issues could be:
- They might be rendered differently on different machines
- Figure out if it would be compatible with how flutter/tests is written

[2020-04-28 23:14] eseidelGoogle opened #898 "Long white screen after back-gesture on gallery.flutter.dev"
I presume the browser is intercepting the back gesture and so the long white is some sort of reload of the page?

Not sure.

https://youtu.be/bR9S7TQXN74

[2020-04-29 03:29] upcwangying opened #132 "localizations doesn't work"
**Is your feature request related to a problem? Please describe.**
I want to enable localization in my APP, and this [gallery repo](https://github.com/flutter/gallery/tree/v2.3) inspired me.  But localizations doesn't work.
[my repo](https://github.com/upcwangying/l10n_bug).

**Describe the solution you'd like**
How to make localization work?

**Describe alternatives you've considered**
The `flutt

[2020-04-29 11:03] guidezpl commented on #132
Hi, can you please provide more context? What doesn't work, what were you trying to do, can you provide a link to code, etc.?

[2020-04-29 11:21] upcwangying commented on #132
https://github.com/upcwangying/l10n_bug

[2020-04-29 12:31] guidezpl commented on #132
Hmm, interesting. Even when I specified  `locale: Locale('zh'),` on `MaterialApp`, it still used the English string. @shihaohong do you have an idea?

[2020-04-29 14:30] rami-a opened #134 "Implement Date range picker demo"
## Acceptance Criteria
* Once https://github.com/flutter/flutter/pull/55939 lands, we can create demo for date range picker.
* Demo should follow same pattern as date picker demo and live inside the pickers demo.

[2020-04-29 16:45] kevmoo opened #135 "Add google analytics"

[2020-04-29 16:47] kevmoo opened #136 "Add hosted link to GitHub repo: https://gallery.flutter.dev"
It's nice!

[2020-04-29 17:40] shihaohong commented on #132
Hi @upcwangying, thank you for your question. The reason that it's not working is that some of the steps of the `intl` library's l10n process weren't followed correctly. I [created a PR](https://github.com/upcwangying/l10n_bug/pull/1) with instructions on how to get your application working correctly.

However, I also want to point out that the gallery uses an internationalization workflow that is

[2020-04-29 17:40] shihaohong commented on #132
If you have further questions about how any of this works, please feel free to comment on the PR I opened. I'll close this issue since it's not a bug with Flutter or the Flutter gallery.

[2020-04-29 17:40] #132 closed

[2020-04-29 17:47] clocksmith opened #139 "Finish moving all references from flutter.github.io/gallery to gallery.flutter.dev"
* Update flutter/samples link
* Update any references in code or READMEs
* All old locations should point to new location

[2020-04-30 03:54] #118 closed

[2020-04-30 09:36] guidezpl commented on #50
After a number of PRs, the study launch times are satisfactory. Remaining work will occur with https://github.com/flutter/gallery/issues/119

[2020-04-30 09:36] #50 closed

[2020-04-30 12:32] perclasson commented on #128
We have some options:
- We can run our golden tests only for the macOS platform.
- We can add goldens for each platform, this will make it more of an effort to update the goldens though so I do not think its worth it.

For flutter/tests the tests are run 15 times in a row to find flakiness, and even though we have not experienced any flakiness here on Github Actions, about every 5th time the golde

[2020-04-30 12:58] perclasson commented on #128
I have done a bit of testing already on this:
https://github.com/flutter/tests/pull/35

And I cannot reproduce the same issues on my local machine as we have there. I'll close this ticket as won't fix because:
- Golden tests with images are flaky: https://github.com/flutter/flutter/issues/53009
- Debugging the failed goldens will be difficult on flutter/tests as they do not give you easy access to

[2020-04-30 12:58] #128 closed

[2020-04-30 18:20] liyuqian commented on #69
Since this issue supersedes https://github.com/material-components/material-components-flutter-gallery/issues/543, let me also copy @collinjackson's helpful suggestion here as below.

[2020-05-03 21:37] domesticmouse opened #143 "https://gallery.flutter.dev/#/rally is not happy"
**Describe the bug**
Rally sample in Gallery PWA rendering is not showing all content

**Chrome version**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://gallery.flutter.dev/#/rally in desktop Chrome browser

**Expected behavior**
All the widgets should appear.

**Screenshots**

![NavRail, MIA](https://user-images.githubusercontent.com/30503/80926317-e3f31600-8dd9

[2020-05-04 08:22] guidezpl commented on #143
cc @ferhatb

[2020-05-04 09:24] perclasson commented on #143
From running `git bisect` the issue seems to be introduced by https://github.com/flutter/flutter/pull/56081

[2020-05-04 11:32] perclasson commented on #63
I created a smaller reproducible example and filed a flutter/flutter issue, moving this ticket to blocked for now:
https://github.com/flutter/flutter/issues/56286

[2020-05-04 16:52] ferhatb commented on #143
To narrow down issue, @domesticmouse is there a different theme being used on iOS ? Could the font be missing?

[2020-05-04 19:37] domesticmouse commented on #143
Hey Ferhat, this is happening on desktop macOS. I can dig out the list of experiments from chrome://version if that’d help. Otherwise I’m happy to set up a gvc and we can do some remote debugging.

[2020-05-04 19:40] ferhatb commented on #143
@domesticmouse , thank you for snippet to repro. Found the issue. Fix in flight

[2020-05-04 20:11] domesticmouse commented on #143
Thanks Ferhat!

[2020-05-05 11:46] perclasson commented on #36
This seems to be done already. No change needed here. I assume there have been changes to the flutter/flutter support for this.

[2020-05-05 11:46] #36 closed

[2020-05-05 13:25] guidezpl commented on #36
Working on this atm since Focus + Semantics are somewhat coupled. Remaining work will be in #73

[2020-05-05 14:50] #73 closed

[2020-05-05 16:37] guidezpl commented on #107
@jonahwilliams With your work on the service worker side, I take it this won't be necessary?

[2020-05-05 16:51] jonahwilliams commented on #107
I don't understand the issue.

[2020-05-05 16:53] guidezpl commented on #139
No links in code or READMEs, so those PRs should do it

[2020-05-05 17:11] guidezpl commented on #107
Previously, updates to the app weren't reflected because the browser cached main.dart.js, requiring a hard refresh.

[2020-05-05 17:13] jonahwilliams commented on #107
A refresh isn't generally sufficient to trigger a SW upgrade, unless you have a developer option checked. The new service worker has to activate and install first.

[2020-05-05 17:14] ferhatb commented on #63
Update: Fix is in engine master, waiting for roll into flutter.

[2020-05-05 18:19] kevmoo commented on #136
To be clear, I mean in the GItHub Repo it's self. It's a setting on the main page, if you have manager/admin rights!

[2020-05-06 09:23] guidezpl commented on #136
Ahh gotcha, it was on the main page behind an "Edit" button

[2020-05-06 09:23] #136 closed

[2020-05-06 09:47] guidezpl commented on #107
I see. Though since hashes will be included for cached files (e.g. "main.dart.js": "78b2021dc4a4826e6004ba3ce1058dcc",) , we won't have to do this renaming.

[2020-05-06 09:47] #107 closed

[2020-05-06 12:46] #119 closed

[2020-05-06 18:37] #82 closed

[2020-05-06 20:53] ferhatb commented on #143
Landed in flutter master

[2020-05-06 20:53] #143 closed

[2020-05-07 08:21] guidezpl commented on #58
Confirmed as fixed

[2020-05-07 08:21] #58 closed

[2020-05-07 10:44] #63 closed

[2020-05-07 10:44] perclasson commented on #63
Thanks for the fix, will deploy the latest version of Flutter.

[2020-05-07 10:45] #28 closed

[2020-05-07 11:05] perclasson opened #149 "Rename main.dart.js on deploy to force re-download in browsers"
Our main.dart.js file is cached and whenever we deploy a new version we want to rename the main.dart.js to force a re-download for customers.

See for an example of this in webpack:
https://developers.google.com/web/fundamentals/performance/webpack/use-long-term-caching

Preferable it would be named as:
main.{chunkhash}.dart.js

See:
https://stackoverflow.com/questions/42466473/if-you-are-using-se

[2020-05-07 11:47] perclasson commented on #149
Looked at this with @guidezpl and we set the cache-control to max-age to 60 minutes. So we're fine here, with the new service worker that is coming up we shouldn't have an issue with this.

[2020-05-07 11:47] #149 closed

[2020-05-07 13:21] willlarche commented on #58
That was easy!

On Thu, May 7, 2020 at 04:22 Pierre-Louis <notifications@github.com> wrote:

[2020-05-08 02:32] GuoDapeng opened #152 "missing ExcludeFocus"
**Describe the bug**
The cloned project cannot be run directly, missing ExcludeFocus

**Flutter doctor**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project
2. flutter pub get
3. found mistake

**Expected behavior**
Able to run

**Screenshots**
![截屏2020-05-08 上午10 28 23](https://user-images.githubusercontent.com/7477750/81363951-191fa100-9117-11ea-8ccb-045b1a0e5a8b.png)

[2020-05-08 10:24] guidezpl commented on #152
I see you're using the stable channel. The Gallery runs off the master channel to support new features (like `Exclude Focus`) that haven't made it into a stable release yet.

You can use
[code]

to switch channels.

[2020-05-08 10:25] #152 closed

[2020-05-08 11:37] Srini-B opened #154 "Only blank gray screen appears on Firefox for gallery site"
The flutter gallery [website](https://gallery.flutter.dev) doens't display any content except a blank gray screen.
It works fine on any chromium browsers.
Using windows 10

[2020-05-08 16:27] perclasson commented on #154
The root cause has been identified here:
https://github.com/flutter/flutter/issues/53786
https://github.com/dart-lang/sdk/issues/41327

[2020-05-08 17:14] #154 closed

[2020-05-09 04:58] aditya237 commented on #134
i wanna work on this

[2020-05-11 13:46] rami-a commented on #134
Thanks for the interest @aditya237. flutter/flutter#55939 has landed in master now and you should be able to add a demo for this. Please ensure the demo follows the pattern of our other demos and ensure you add localized entries for each string. Thanks!

[2020-05-12 06:09] GuoDapeng commented on #152
Sorry, I didn't understand the documentation. I can work now.

[2020-05-12 15:40] clocksmith commented on #139
https://dev.to/steveblue/setup-a-redirect-on-github-pages-1ok7

[2020-05-12 15:43] JoseAlba opened #157 "Update application on Play Store"

[2020-05-12 16:06] guidezpl commented on #157
Can you draft release notes in https://github.com/flutter/gallery/releases? I can do the desktop builds

[2020-05-12 17:20] roman-petrov commented on #52
not sure if it is a right place to comment: cursor should also change to "text" when hovering text fields to match default text field behavior on web & desktop

[2020-05-13 01:55] dzhang1987 commented on #152
大佬，你怎么搞好的？我遇到同样的问题。

[2020-05-13 02:44] sm9i commented on #152
切换到master就ok了

[2020-05-13 07:46] GuoDapeng commented on #152
https://github.com/flutter/gallery/issues/152#issuecomment-625749310

按照他说的，弄好了，管用。ExcludeFocus 这个是新出的。

[2020-05-14 00:08] #157 closed

[2020-05-14 11:50] guidezpl commented on #139
Done.

[2020-05-14 11:50] #139 closed

[2020-05-17 02:15] iLoveDocs opened #161 "[Performance] The app is very slow and has stuttering animation"
**Performance bug**
I downloaded the Play Store app on my real device Samsung Galaxy S8+ running Android 9 and noticed some jank and poor performance in the app, After this, I run the app in release mode in my iPhone 6s (real device), and again same performance issues. Later on, I run the app in macOS but this time it worked and I was able to get 60fps. So, it only worked on my mac machine.

**Flu

[2020-05-19 09:27] youlongxifeng opened #162 "加个蒲公英的二维码加就好了"
加个蒲公英的二维码加就好了

[2020-05-21 01:46] mshwf commented on #152
I have this issue and I'm on master channel (Channel master, 1.19.0-2.0.pre.133)

[2020-05-21 02:28] Mister-Hope opened #166 "Update to flutter 1.17？"
E.G.: TextTheme has changed in 1.17

[2020-05-22 20:58] JSWilProf commented on #152
This widget is in the "packages/flutter/lib/src/widgets/focus_scope.dart" file and was included in the commit fdc4d21b7 - Flutter 1.18.0-10.0.pre

[2020-05-22 23:07] mshwf commented on #152
@JSWilProf I opened that file in VSCode (in the same project window), and somehow the project could find the missing reference!

[2020-05-25 08:46] komape commented on #166
The ' backlayer.dart' widget in the Crane study complains that 'The method 'ExcludeFocus' isn't defined for the type '_BackLayerState'.' Same appears in the ' backdrop.dart' widget in the 'pages' directory.

[2020-05-25 08:52] xuezha-aha commented on #166
same as. 【ExcludeFocus】

[2020-05-25 10:53] guidezpl commented on #166
@komape @xuezha-aha As noted [here](https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel), the gallery runs off the master channel.

@Mister-Hope Can you please clarify what you mean? The typography demo was updated to use the 2018 Material and I couldn't find instances where we still use the 2014 names

[2020-05-25 17:55] Mister-Hope commented on #166
The app in google play store was updated on February.

[2020-05-25 21:20] RedBrogdon opened #167 "Hosted version of gallery doesn't allow two-finger swipe to go back."
**Describe the bug**
I'm using Chrome on a MacBook, and on most sites I can use a two finger swipe from left to right as a shortcut for "go back one spot in the history stack."

When visiting the hosted version of the gallery, though, I'm not able to do this. The page doesn't respond to the gesture at all. Is that expected?

Chrome version: Version 81.0.4044.138 (Official Build) (64-bit)
macOS ver

[2020-05-26 02:01] xuezha-aha commented on #166
Ths, well now

[2020-05-26 02:30] iLoveDocs opened #168 "Not sticking to Effective dart documentation style."
Quoting [this link](https://dart.dev/guides/language/effective-dart/documentation#do-separate-the-first-sentence-of-a-doc-comment-into-its-own-paragraph) from effective dart

A good documentation looks like:

But in the Gallery source file, I have seen many places where this is not followed, here are few links from `adaptive.dart` file:

[Link 1](https://github.com/flutter/gallery/blob/master/lib/

[2020-05-26 13:11] rami-a commented on #167
@ferhatb is this something that is expected to work?

[2020-05-27 16:31] fisforfaheem opened #169 "Please release the latest version for windows 2.3"
why are you not updating it

[2020-05-28 12:45] guidezpl commented on #169
We'll release 2.4 within a week with a windows debug build included. It'll the be the same as if you ran ```flutter build windows``` on a clone of the repo if you'd like to try it now.

[2020-05-28 12:45] #169 closed

[2020-05-29 17:47] Mister-Hope commented on #166
@guidezpl Still waiting for you reply ,bro

[2020-06-01 09:42] guidezpl commented on #166
@Mister-Hope The latest version was built off the master branch, which is ahead of 1.17 by some number of commits. Marking this as closed

[2020-06-01 09:42] #166 closed

[2020-06-01 14:59] Mister-Hope commented on #166
Emm, but on this project 's readme, it still says we can download from Google play, and Google play version is still based on 1.12 bro?

[2020-06-01 15:12] rami-a commented on #166
Hi @Mister-Hope we are in the process of updating the Google Play store version to the latest. We should have it updated soon.

[2020-06-02 05:56] thsieh123 opened #172 "flutter: Invalid argument(s): Invalid locale "null""
**Describe the bug**
Running windows device. After click LOGIN button, an exception is thrown as below:

flutter: The following ArgumentError was thrown building OverviewView(dirty, dependencies:
flutter: [_LocalizationsScope-[GlobalKey#1ff1c], _ModelBindingScope], state: _OverviewViewState#c9f9f):
flutter: Invalid argument(s): Invalid locale "null"
flutter:
flutter: The relevant error-causing wid

[2020-06-03 00:09] thsieh123 commented on #172
If I select "English (United States)" in the Settings menu, the crash is gone. So looks like the default locale is none until set it from the UI.

[2020-06-04 09:40] guidezpl commented on #172
Thanks for reporting an issue! Support for Linux and Windows is actively being worked on. However, we should modify the workaround https://github.com/flutter/gallery/blob/164d64b09c39fba68833dcc466af6937d9629c19/lib/data/gallery_options.dart#L76 to account for Linux and Windows as well as macOS

[2020-06-04 23:07] thsieh123 commented on #172
Yeah I tried this on Windows and it works ok:
      (!kIsWeb && (Platform.isMacOS **|| Platform.isWindows** **|| Platform.isLinux**) ? const Locale('en', 'US') : null);

[2020-06-05 16:05] pennzht commented on #162
Could you please elaborate on what you mean by "Dandelion QR Code"?
Are you referring to [pgyer](https://www.pgyer.com/), a testing service?

请问“蒲公英的二维码”是指什么？
是指 [pgyer](https://www.pgyer.com/) 这个测试服务吗？

[2020-06-07 04:35] DeadlyMissile opened #178 "A few questions"
I have a few question if you don’t mind :D
1- On main.dart, the initialRoute is null. So what happens exactly?
2- On main.dart, you are overriding the themes platform with GalleryOptions.platform. Why is that?
3- Why are you using RegEx on routes? First time seeing it done is this way

[2020-06-08 07:59] mthan160 commented on #161
I can concur - on my own S7 Edge - both the play store version & my own built (profile mode / release mode) app - almost none of the frames are rendered under 16 ms. Most around the 16-20 ms mark with huge spikes that cause jank.

It doesn't make the app unusable but considering that a big selling point for flutter is 60Hz animation and that this is the entry point for a lot of people when it come

[2020-06-08 10:47] perclasson commented on #178
Thanks for your questions - in the future I recommend asking in the appropriate Flutter discord channels as the issues here should be used for bugs and not questions.

1. If initialRoute is null, the default value of '/' is used. See documentation for [WidgetsApp](https://api.flutter.dev/flutter/widgets/WidgetsApp/initialRoute.html).
2. So that we can change the platform in the settings panel, to

[2020-06-08 10:47] #178 closed

[2020-06-10 05:49] wytesk133 opened #179 "[Internal Cleanup] flutter/gallery/test_driver is not in-sync with flutter/flutter/dev/integration_tests/flutter_gallery/test_driver"
https://github.com/flutter/gallery/tree/master/test_driver seems to have fewer tests than https://github.com/flutter/flutter/tree/master/dev/integration_tests/flutter_gallery/test_driver

Also, `transitions_perf_test.dart` in both directories looks like they are based from the same file, but now they are diverged.

[2020-06-11 02:00] youlongxifeng commented on #162
嗯是的 https://www.pgyer.com/

[2020-06-13 03:11] RaulMarquezInclan opened #182 "The method 'ExcludeFocus' isn't defined for the type '_BackLayerState'"
Getting the error:

`The method 'ExcludeFocus' isn't defined for the type '_BackLayerState'`

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

I just downloaded the code to my windows machine, opened it in VS Code, after downloading packages and analyzing it shows the error above in the backlayer.dart file:

[code]

How can I fix this?

[2020-06-15 10:53] guidezpl commented on #182
Duplicate of #152

[2020-06-15 10:53] #182 closed

[2020-06-16 12:09] limbouser opened #184 "Building it to work on Android TV"
How can I build this app such as to get it working on an Android TV, I have seen a flattened UI version of flutter gallery and that's what I want, when I am using the apk available now, I'm getting the UI similar to Android phone in the TV also.

[2020-06-18 02:33] xgqfrms opened #185 "flutter gallery bug"
**Describe the bug**

![image](https://user-images.githubusercontent.com/7291672/84971101-9dba0200-b14e-11ea-87f6-bab41bbe088c.png)

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

<pre style="color: red;">

Compiler message:
lib/pages/backdrop.dart:163:19: Error: No named parameter with the name 'include

[2020-06-18 07:50] guidezpl commented on #185
Duplicate of #182

[2020-06-18 07:50] #185 closed

[2020-06-18 21:28] guidezpl commented on #179
@liyuqian I believe we discussed this and limited the new tests to the most important ones. Is that still the case? If not, I'll keep this issue open.

@wytesk133  `transitions_perf_test.dart` is expected to be different since the structure of the app completely changed in the rebuild.

[2020-06-18 21:32] guidezpl commented on #184
There is a mobile layout and a desktop layout, which one is displayed is based purely on screen width and height and regardless of device (see https://github.com/flutter/gallery/blob/master/lib/layout/adaptive.dart). If you are using Android cast to your TV, Flutter uses your phone screen's dimensions, so I believe this is WAI. Please reopen this issue if not

[2020-06-18 21:32] #184 closed

[2020-06-19 13:42] #172 closed

[2020-06-19 15:31] xgqfrms commented on #185
# `master` branch new feature bug

[code]

https://github.com/flutter/gallery/issues/152

***

# ⚠️❌🕵️‍♂️

[2020-06-19 15:35] xgqfrms commented on #185
Please change the duplicate issue reference to #152, for more fast find the really solution.

[2020-06-20 20:57] liyuqian commented on #179
Yes, I think it's still the case and it's Ok for those two tests to diverge as long as `flutter/gallery/test_driver` has a good performance coverage for the new Gallery app. The old `flutter/flutter/dev/integration_tests/flutter_gallery/test_driver` is only an example to help boost the creation of `flutter/gallery/test_driver` in my opinion.

[2020-06-22 08:28] guidezpl commented on #179
Sounds good, marking as closed

[2020-06-22 08:28] #179 closed

[2020-06-22 17:34] #46 closed

[2020-06-23 14:46] clocksmith opened #188 "Add Material motion spec demos to Reference section"
-This will require adding and using the https://pub.dev/packages/animations package
-This can be started once the design is confirmed

[2020-06-23 15:35] clocksmith opened #189 "Add Top App Bar Demo to Material section"

[2020-06-23 15:36] clocksmith opened #190 "Add Navigation Rail demo to Material section"

[2020-06-24 11:45] pennzht opened #192 "[Performance] Add remaining performance testing to Gallery on Web"
## Goal

Add the following benchmarks to Gallery on Web:
* `gallery_v2_animated_widgets_perf`
* `gallery_v2_unanimated_widgets_perf`
* `gallery_v2_scroll_perf`

## Background

Related: https://github.com/flutter/gallery/issues/103
Related: https://github.com/flutter/flutter/pull/57576

Some gallery benchmarks are failing on CI, for unknown reasons.
The benchmarks fail either by timing out, or disp

[2020-06-29 07:52] guidezpl commented on #87
BFG history rewrite complete. Starting fresh with a
 ```git clone git@github.com:flutter/gallery.git``` (SSH)
```git clone https://github.com/flutter/gallery.git``` (HTTPS)
is strongly recommended.

## Results
### As a bare repository (252mb  → 47mb)

Before | After
------------ | -------------
<img width="991" alt="Screenshot 2020-06-27 at 23 22 33" src="https://user-images.githubusercontent.com/

[2020-06-29 07:52] #87 closed

[2020-07-01 14:16] limbouser opened #196 "A Gallery App corresponding to Stable Release"
Out of all the releases, can I find a Gallery app version which is compatible with latest Stable release? Isn't it a good suggestion to keep a version of the Gallery that can be run on Stable?

[2020-07-01 17:09] guidezpl commented on #196
That is a good suggestion, thanks! When the gallery was in development (not too long ago), we initially targeted the stable channel. For a number of reasons, we switched to the master channel. For example, we were interesting in having the gallery run on a breadth of platforms. Platforms are at different maturity stages, so that is only possible by targeting the master (or dev) channel. This also

[2020-07-01 17:09] #196 closed

[2020-07-07 15:27] #103 closed

[2020-07-07 15:28] pennzht commented on #103
As of Jul 7, 2020, 1 out of 4 benchmarks has been merged.
For the remaining 3 benchmarks, see https://github.com/flutter/gallery/issues/192

[2020-07-07 21:50] Renzo-Olivares opened #197 "Add container transform demos to reference section under motion"
Add container transform demo from animations package https://pub.dev/packages/animations

[2020-07-07 21:51] Renzo-Olivares opened #198 "Add fade through transition demos to reference section under motion"
Add fade through transition demo from animations package https://pub.dev/packages/animations

[2020-07-07 21:52] Renzo-Olivares opened #199 "Add fade scale transition demos to reference section under motion"
Add fade scale transition demo from animations package https://pub.dev/packages/animations

[2020-07-07 21:53] Renzo-Olivares opened #200 "Add shared x-axis demos to reference section under motion"
Add shared x-axis demo from animations package https://pub.dev/packages/animations

[2020-07-07 21:54] Renzo-Olivares opened #201 "Add shared y-axis demos to reference section under motion"
Add shared y-axis demo from animations package https://pub.dev/packages/animations

[2020-07-07 21:55] Renzo-Olivares opened #202 "Add shared z-axis demos to reference section under motion"
Add shared z-axis demo from animations package https://pub.dev/packages/animations

[2020-07-08 23:50] #197 closed

[2020-07-09 16:09] #198 closed

[2020-07-09 20:46] rami-a opened #207 "Update Gallery demos to use the new button universe"
Now that https://github.com/flutter/flutter/pull/59702 has landed, we should update the material buttons demo to utilize them

[2020-07-09 21:02] HansMuller commented on #207
Hooray!

[2020-07-10 17:27] #199 closed

[2020-07-10 18:59] rami-a opened #208 "Update to use the new button universe"
Update any buttons in studies and demos to use new button universe

[2020-07-10 21:11] HansMuller commented on #208
Please wait for this ContainedButton => ElevatedButton rename to land: https://github.com/flutter/flutter/pull/61262

[2020-07-14 11:54] guidezpl opened #209 "Demos include a 'Dismiss' semantics object when not needed"
A side-effect of https://github.com/flutter/gallery/commit/63eb33e62c9847716119cfb9c6594166ec835304 is that all demo pages now includes a `Semantics` object to dismiss an open menu, even when that menu is closed.

This should be fixed, while still retaining demo state (conditionally inserting a Semantics widget caused a rebuild that lost demo state)

[2020-07-15 14:39] #201 closed

[2020-07-15 22:22] #200 closed

[2020-07-16 15:51] clocksmith opened #214 "Add focused performance test for Crane ListView scrollling"
See: https://github.com/flutter/flutter/issues/61193#issuecomment-659069400

[2020-07-17 12:21] assang opened #215 "Error Build failed"
Launching lib\main.dart on Lenovo K8 Plus in debug mode...

Compiler message:
lib/main.dart:16:57: Error: Unexpected token ';'.
import 'package:gallery/themes/gallery_theme_data.dart';;
                                                        ^
Running Gradle task 'assembleDebug'...
lib/pages/backdrop.dart:163:19: Error: No named parameter with the name 'includeSemantics'.
                  include

[2020-07-17 12:23] guidezpl commented on #215
Please read the README :) Duplicate of #152

[2020-07-17 12:23] #215 closed

[2020-07-17 18:45] limbouser opened #217 "Exception being raised when some keys are pressed"
I have a issue with the recent Flutter releases that gives an exception when I hit certain buttons in Flutter. I have explained it in detail here https://github.com/flutter/flutter/issues/61711 . I am running an app using an embedder and has the same issue while running the Gallery app too. My doubt is if I can assign the functinalities of the arrow keys to some other keys also, temporarily, for e

[2020-07-17 19:01] #214 closed

[2020-07-21 15:32] clocksmith opened #223 "Add motion code from animations package into existing gallery studies"
- Use motion in Rally
- Use motion in bottom nav demo

[2020-07-21 18:28] guidezpl opened #226 "Ensure sliders have useful a11y labels"
It would be nice if these sliders had accessibility labels, just as an example for developers to follow. Currently, screen readers only read the value

[2020-07-21 23:41] liyuqian opened #227 "Crane performance test should scroll the list"
While https://github.com/flutter/gallery/pull/216 adds a perf test for Crane, it does not scroll the list of pictures in the Crane page. As the original issue https://github.com/flutter/gallery/issues/214 requires scrolling to reproduce the performance issue, we should add scrolling to the test.

[2020-07-21 23:41] liyuqian commented on #227
CC @guidezpl @clocksmith

[2020-07-22 21:10] #202 closed

[2020-07-22 23:37] dnfield opened #229 "Assets generally oversized"
See some context at https://github.com/flutter/flutter/pull/61209

Turning on that setting (`I` in the terminal - not available through IDEs yet), you can see that most images will get inverted/flipped.

I haven't extensively probed this, but at this point I suspect the following:

- All scaled images (i.e. images on the 1x 2x 3x 4x directories) are actually scaled too large by as much as a factor

[2020-07-22 23:37] dnfield commented on #229
/cc @willlarche fyi

[2020-07-23 07:22] #227 closed

[2020-07-23 17:38] Renzo-Olivares commented on #188
Closed by #203 #204 #206 #210 #212 #218

[2020-07-23 17:38] #188 closed

[2020-07-29 17:06] Renzo-Olivares opened #233 "Make motion demos more descriptive"
Right now it's hard to identify where to click in the motion demos to get them to show the animation. Add a visible queue to tell the user where to click to start the animation.

[2020-07-29 17:08] Renzo-Olivares opened #234 "y-axis motion demo only transitions down on the axis"
In the y-axis motion demo when clicking the sorting arrow, it will always push the list down. The desired functionality is push down when clicking on "recently played", and push up when clicking on "A-Z".

[2020-07-29 17:10] Renzo-Olivares opened #235 "Misaligned tooltip for back button in open container transform demo"
Tooltip for back back button is misaligned in all motion demos.

![Screen Shot 2020-07-28 at 4 30 54 PM](https://user-images.githubusercontent.com/948037/88831097-b8d35500-d183-11ea-8746-4099a58342a4.png)

[2020-07-29 18:55] #234 closed

[2020-07-29 22:14] Renzo-Olivares opened #237 "Add z axis transition between Rally login and home pages"
Currently the Rally study transitions from login to home using a sliding animation. This is a prime example for the z-axis transition animation, for transitioning between different levels of an application (login -> home).

[2020-07-29 22:16] Renzo-Olivares opened #238 "Fix bg color for closed container in Rally study"
List items in Rally do not have a background color. This is most noticeable when transitioning between closed/open container.

![Screen Shot 2020-07-28 at 4 19 41 PM](https://user-images.githubusercontent.com/948037/88859373-783d0100-d1ae-11ea-8bb2-6c41cb8e0f40.png)

[2020-07-30 05:11] Renzo-Olivares opened #243 "White line on corner of shared z axis demo"
<img width="106" alt="Screen Shot 2020-07-29 at 10 34 24 AM" src="https://user-images.githubusercontent.com/948037/88883120-5d877e00-d1e8-11ea-814b-429642c84c0d.png">

On the shared z axis transition demo there is a visual bug located on the top corners of the demo. There is a white line around the corner.

[2020-07-31 20:55] willlarche opened #250 "[Cupertino] Rounded corners on edge of all Cupertino demos is showing a 'background'"
**Describe the bug**
The corners show something behind them at the top.

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2020-08-03 09:18] miaorenjieZzz opened #252 "Can't compile on android"
Exception in thread "main" java.net.ConnectException: Operation timed out (Connection timed out)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:18

[2020-08-03 13:12] guidezpl commented on #252
Can you please provide the output of `flutter doctor -v`?

[2020-08-04 16:19] pennzht commented on #192
Findings as of **2020-08-04**

* The `Instance of 'ProgressEvent'` error may have been caused by a small `/dev/shm` size (defaulting to 64m). After adding using the option `--shm-size=512m`, we are able to run all benchmarks correctly. But this only works locally (`docker run`).
* Currently, looking for method to change `--shm-size` for Cirrus CI. See issue: https://github.com/cirruslabs/cirrus-ci

[2020-08-05 02:01] ngankilo opened #253 "Error Compile android"
1. Stacktrace:
- Compiler message:
lib/demos/material/text_field_demo.dart:117:3: Error: Type 'AutovalidateMode' not found.
  AutovalidateMode _autoValidateMode = AutovalidateMode.disabled;
  ^^^^^^^^^^^^^^^^
lib/demos/reference/transformations_demo.dart:38:9: Error: Type 'TransformationController' not found.
  final TransformationController _transformationController =
        ^^^^^^^^^^^^^^^^^^^^

[2020-08-05 02:25] #253 closed

[2020-08-05 17:59] pennzht opened #254 "Set up a process to roll Gallery version in Flutter Devicelab tests"
**Is your feature request related to a problem? Please describe.**
(*Please add*)

**Describe the solution you'd like**
It would be great to have a process to roll the Gallery version regularly in [Devicelab Tests](https://github.com/flutter/flutter/tree/master/dev/devicelab) in Flutter.

**Describe alternatives you've considered**
(*Please add*)

**Additional context**
Please see https://github.c

[2020-08-05 18:23] jmagman commented on #254
Copying discussion from flutter/flutter#62986

Is there any way we can move these tests to customer tests https://github.com/flutter/tests/blob/master/registry/flutter_gallery.test and out of Flutter proper? That is also pinning a SHA that already needs to roll.

https://github.com/flutter/tests#flutter-tests

`flutter_gallery_v2_chrome_run_test` particularly looks look a good candidate.  `flutter

[2020-08-05 18:53] jmagman commented on #254
There's also duplicate https://github.com/flutter/flutter/issues/63004.

[2020-08-05 19:11] christopherfujino commented on #254
i'll close mine, thanks for this @pennzht

[2020-08-06 08:52] FWiner commented on #253
The same error log..

[2020-08-06 10:12] FWiner opened #255 "Flutter run catch some errors."
**Describe the bug**
[code]

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

[2020-08-06 13:01] pennzht commented on #192
Closed by https://github.com/flutter/flutter/pull/62906

[2020-08-06 13:01] #192 closed

[2020-08-06 16:26] #243 closed

[2020-08-07 10:20] ksilz opened #257 "Doesn't compile: Undefined class 'AutovalidateMode'"
**Describe the bug**
I cloned the repository this morning, and it doesn't compile to run on an Android simulator. I'm using the `master` branch with Flutter 1.20.1:

[code]

Here's the result of an `analyze`:
[code]

**Flutter doctor**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. Change into the project directory
3. Run `flutter analyze`
4. See errors above

**

[2020-08-07 11:52] guidezpl commented on #257
This is expected, as you are using the latest stable release and this is a relatively new API. See https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel to run the gallery

[2020-08-07 18:03] #233 closed

[2020-08-07 18:11] #238 closed

[2020-08-10 10:13] ksilz commented on #257
Sorry - so it was a case of RFTM. I wrongly assumed "master" meant "stable" since that the "master" branch is the production branch in my projects.

[2020-08-10 10:13] #257 closed

[2020-08-10 22:20] #237 closed

[2020-08-18 15:07] #223 closed

[2020-08-18 15:46] clocksmith opened #263 "Replace adaptive.dart logic with adaptive_breakpoints package"
https://github.com/material-components/material-components-flutter-adaptive/tree/develop/adaptive_breakpoints

[2020-08-18 15:52] pennzht opened #264 "Add an "Open In DartPad" feature"
**Is your feature request related to a problem? Please describe.**
In the current Gallery, users click "COPY ALL" and paste it into their IDE to test and experiment around each demo.
We propose adding an "Open In DartPad" feature, allowing users to immediately test demos in DartPad.
To do this, we also need to make each code segment shown in the CodeViewer standalone (i.e., can run as an individua

[2020-08-19 19:49] #35 closed

[2020-08-20 11:41] tusharsadhwani opened #266 "Source code for Contacts Page demo"
The code for contacts page (presumably) used to be at https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/demo/contacts_demo.dart

The demo was available before the app reached 2.0

Where can I find the source code for it? I tried searching the commit history but found nothing for 1.x

![image](https://user-images.githubusercontent.com/43412083/90765752-192f5f80-e308-11ea-9

[2020-08-20 13:38] rami-a commented on #266
Hey @tusharsadhwani, the 2.0 gallery was rebuilt from the ground up and thus did not include the contacts demo from the old 1.0 version of the gallery. However the old gallery still exists, it just got moved around. The demo you're looking for can now be found at https://github.com/flutter/flutter/blob/master/dev/integration_tests/flutter_gallery/lib/demo/contacts_demo.dart

Hope this helps!

[2020-08-20 13:38] #266 closed

[2020-08-24 10:05] guidezpl opened #269 "Create host-independent e2e version of driver tests"
To help with https://github.com/flutter/flutter/issues/64328

See https://flutter.dev/go/flutter-nonhost.

[2020-08-24 10:48] guidezpl commented on #226
Blocked on framework changes. https://github.com/flutter/flutter/pull/63524 would allow us to fix this

[2020-08-25 15:46] clocksmith commented on #226
Right now the screen reader announces the value. After this change, would it first announce that the focused element is a slider, then announce the value?

[2020-08-25 18:05] guidezpl commented on #226
I believe so.

[2020-08-27 15:28] clocksmith commented on #263
closed by https://github.com/material-components/material-components-flutter-adaptive/issues/7

[2020-08-27 15:28] #263 closed

[2020-08-29 04:26] liyuqian opened #275 "Mobile perf tests seem to be broken in newer versions"
When Flutter tries to roll from the old version a208eac6e6e8336ae9820e54c572c099231f1da2 to the new version 9eb1ff89a0cd5fd4333215fc62d735becf74da4a, following tests start to fail
- new_gallery_transition_perf
- new_gallery_ios__transition_perf

The log seems to suggest that some scrolling failed.
[code]

The Crane test doesn't fail so presumably some other parts failed.

See also https://github.c

[2020-08-29 04:27] liyuqian commented on #275
CC @guidezpl

[2020-08-31 19:23] #60 closed

[2020-08-31 20:41] Renzo-Olivares opened #276 "[Reply] Bottom drawer destinations not visible on devices with small screens"
**Describe the bug**
The bottom drawer on the reply material study is not a scrollable widget. So, if a device's screen is too small to fit the content of the bottom drawers destinations, then that device won't be able to navigate to said destinations.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reprodu

[2020-08-31 20:47] Renzo-Olivares opened #277 "[Reply] Removing an email from inbox through the action item, does not animate"
**Describe the bug**
When an email is deleted through the action bar located in the `MailPreviewCard` on larger screens, and the `BottomAppBarActionItems` on smaller screens, there is no animation to show the email being dismissed from the inbox. The email instantly dissapears.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Re

[2020-08-31 20:48] Renzo-Olivares opened #278 "[Reply] Contextual bottom app bar icons don't fade in from the center"
**Describe the bug**
The icons in the contextual bottom app bar look like they fade in from the right of the screen, rather than coming in from the center.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expec

[2020-08-31 20:50] Renzo-Olivares opened #279 "[Reply] Navigation rail extend animation is not smooth"
**Describe the bug**
When extending the navigation rail, the icons and labels jump to the right when extending, instead of smoothly extending out.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behav

[2020-08-31 20:56] Renzo-Olivares opened #280 "[Reply] Bottom drawer animations are not consistent"
**Describe the bug**
The bottom drawer closes too fast, it is currently set at a duration of `300ms`, but it closes way faster. The Floating action button should also enter/exit smoothly with the bottom drawer. Floating action button animation should use `standardEasing`.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduc

[2020-08-31 21:01] Renzo-Olivares opened #281 "[Reply] Mobile FAB uses SizedBox instead of FAB"
**Describe the bug**
Because of an a11y issue with the animations package, we use a `SizedBox` instead of a fab. A `SizedBox` does not retain the visual states of a `FAB` so this is a workaround until this issue is fixed in the animations package.

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce th

[2020-09-01 16:53] normancarcamo commented on #257
Same thing in 1.20.2 version using the stable channel, :( I have to refactor many things as far I can see, unhappy with these breaking changes.

[2020-09-01 17:04] rami-a commented on #257
hey @normancarcamo, as [mentioned above](https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel), the Flutter gallery utilizes the latest APIs available in Flutter and as such requires using the `master` channel to run. It's not so much breaking changes as it is taking advantage of newer APIs that do not exist on `stable` yet. Hope this helps!

[2020-09-01 17:52] normancarcamo commented on #257
Hey @rami-a, I didn't notice that I commented on the gallery project, sorry by that, but the problem persist, I was on master channel and after breaking many things in the app I am in the process of reverting/downgrading the flutter version (I made the mistake of not remember the previous version the app was working).

[2020-09-02 13:46] guidezpl commented on #275
I think the root cause is a workaround was removed for https://github.com/flutter/flutter/pull/64432 (and the previous attempt) to land. The Internal tests are still failing for the reland, so 2 options.

1. Wait until this lands, with the mobile tests failing until then
2. Revert https://github.com/flutter/gallery/pull/256, roll gallery version to latest, and un-revert (with no Gallery version ro

[2020-09-02 17:50] liyuqian commented on #275
Since flutter/flutter#64432 is actively being worked on, let's choose option 1 for now as the mobile tests would still pass in Flutter if we don't roll the gallery version.

We can recheck this issue in 1 week and see if flutter/flutter#64432 is merged. If so, we can close this issue and roll the Gallery version. Otherwise, we can choose option 2 by then.

[2020-09-03 01:55] Renzo-Olivares opened #284 "[Reply] Use onGenerateRoute for navigating to SearchPage"
**Describe the bug**
In order to navigate to the `SearchPage` we use a `PageTransitionSwitcher` and the `onSearchPage` property in our `EmailStore`, to switch between the `SearchPage` and the `HomePage`. Originally this was implemented through `onGenerateRoute`, but because of a bug a workaround was put in place. [PR](https://github.com/Renzo-Olivares/gallery/pull/47) .

To switch channel run:
[co

[2020-09-03 02:02] aijason opened #285 "Unexpected child "generate" found under "flutter"."
Error detected in pubspec.yaml:
Unexpected child "generate" found under "flutter".
Please correct the pubspec.yaml file at /Users/GinaYang/Desktop/flutter_works/gallery/pubspec.yaml

[2020-09-03 03:11] #285 closed

[2020-09-03 07:57] avinashKaitheri commented on #196
Do we have a solution for this since a newer stable version hhas come out? @guidezpl

[2020-09-03 11:06] guidezpl commented on #275
Sounds good, I agree

[2020-09-03 19:01] xster commented on #254
Echoing @jmagman's suggestion.

The other ramification is that having a benchmark test driving the gallery in Flutter repo (probably unintentionally) actually makes Flutter Gallery the one true source of all dependency and transitive dependencies of all flutter/flutter repo. Since flutter/flutter enforces a single resolved version for all dependencies, and since the web macrobenchmark depends on a

[2020-09-03 23:13] Hixie commented on #254
I think we should seriously consider not testing or benchmarking the "real" gallery as part of Flutter's regular integration tests. Things we want to have be part of our integration tests should be in the main repo. If we want to make sure we don't break it, we could add it to the customer_testing shard (flutter/tests).

[2020-09-03 23:16] jmagman commented on #254
@Hixie  Parts of it already are in the customer_testing shard.  Check out my [comment above](https://github.com/flutter/gallery/issues/254#issuecomment-669363048) about what should be easy to move and what would be trickier.

[2020-09-03 23:21] Hixie commented on #254
Excellent. I think it's fine for us to remove the other testing we have right now. The cost is disproportionate to the benefit and we are so deep in debt here that the benefit of reducing the cost would offset even a non-trivial benefit.

[2020-09-04 09:28] fzyzcjy opened #290 "Fastlane is not used in gallery - contrary to what is said in Flutter official doc?"
**Describe the bug**
Thanks for the gallery! In the [official flutter doc](https://flutter.dev/docs/deployment/cd), it says that this app uses Fastlane for CD. However, I cannot find any related file (such as ios/Fastfile etc).

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
N/A

**Expected behavior**
N/A

**Screenshots**
N/A

**Desktop (please c

[2020-09-07 07:47] guidezpl commented on #290
Thanks for noticing, the Gallery currently doesn't use fastlane. I'll update the website

[2020-09-07 07:47] #290 closed

[2020-09-07 09:10] fzyzcjy commented on #290
@guidezpl I am very curious about it. So does fastlane have some serious problems that you give up using it? I am hesitating whether to use it, so your advice is very precious to me. Thanks!

[2020-09-07 09:55] guidezpl commented on #290
No, we just started from scratch for the Gallery rebuild. We're currently looking at different options for continuous deployment (including fastlane and codemagic)

[2020-09-07 11:17] fzyzcjy commented on #290
@guidezpl Thanks very much!

[2020-09-11 19:47] liyuqian commented on #275
https://github.com/flutter/flutter/pull/64432 landed but got reverted again. Would you like to proceed with option 2?

[2020-09-15 14:25] guidezpl commented on #275
There's a separate PR that looks like it will close the issue https://github.com/flutter/flutter/pull/65703. Let's see if this one sticks

[2020-09-15 17:37] clocksmith opened #298 "[Reply] Cap the desktop body width to 1340"
Currently, the width extends as wide as it can be with constant margins, but that body with should be capped at 1340 for better text readability.

[2020-09-15 23:41] yjbanov commented on #254
@Hixie what is it about the customer_testing shard that would make it easier to maintain? I'm curious if we could apply the same method in the benchmark. This way we would still be able to benchmark the gallery without the drawbacks of whatever it is we're doing currently.

[2020-09-18 06:07] qs-lll commented on #285
怎么解决 ?

[2020-09-20 10:49] guidezpl opened #315 "Certain Text elements missing on desktop"
They initially do not render, but do after triggering some animation <img width="944" alt="Screenshot 2020-09-20 124707" src="https://user-images.githubusercontent.com/6655696/93709595-b10aae00-fb3f-11ea-82e7-5e2a447d8a59.png">

[2020-09-20 19:25] cmhokej commented on #281
#130

[2020-09-20 19:25] cmhokej commented on #281
Duplicate of #

[2020-09-21 07:31] pennzht opened #316 "Exception thrown when exiting the Reply study"
**Describe the bug**
When exiting the "Reply" study, an exception is thrown, but it is only visible on the console. See "To Reproduce" for more information.

**Flutter doctor**
<details>
<summary>Logs</summary>

[code]

</details>

**To Reproduce**
1. Use Flutter `master` or `dev`.
2. In the Gallery's root directory, run `flutter run -d chrome`.
3. When the app loads, open the "Reply" study.
4. Af

[2020-09-21 08:26] #316 closed

[2020-09-22 12:06] JunnanLee commented on #285
fix？？

[2020-09-22 14:00] guidezpl commented on #285
Can you provide the output of your `flutter doctor -v`

[2020-09-22 19:24] zanderso opened #322 "Failure to await Future is blocking the engine -> framework roll"
Here: https://github.com/flutter/gallery/blob/master/lib/studies/shrine/app.dart#L87

Gives:

[code]

[2020-09-23 07:11] michaelu123 opened #324 "Error: 'MapLiteral' isn't a type."
The command
flutter pub global activate l10n
terminates with
Precompiling executables...
Failed to precompile l10n:mkl10n:
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/l10n-2.0.19/lib/extractor/L10NMessageExtraction.dart:159:56: Error: 'MapLiteral' isn't a type.
        if(arguments.length == 2 && arguments.last is! MapLiteral) {

[2020-09-23 07:15] guidezpl commented on #324
Can you please provide your `flutter doctor -v`?

[2020-09-23 09:50] michaelu123 commented on #324
First I thought this was because I was not on the master channel, butI see the same problem on beta, master and stable.

[2020-09-23 09:52] michaelu123 commented on #324
[code]

[2020-09-23 10:09] guidezpl commented on #324
I see. Since this has to do with a separate package, closing this. You can track this issue at https://github.com/MikeMitterer/dart-l10n-gettext/issues/4

[2020-09-23 10:09] #324 closed

[2020-09-23 13:50] pennzht opened #326 "Move Gallery Benchmarks out of `flutter/flutter` and into `flutter/gallery`."
**Is your feature request related to a problem? Please describe.**
Goal: Move Gallery benchmarks out of `flutter/flutter` and into `flutter/gallery`.

**Describe the solution you'd like**
See https://github.com/flutter/flutter/pull/66351

**Describe alternatives you've considered**
~A clear and concise description of any alternative solutions or features you've considered.~

**Additional context**

[2020-09-23 22:07] binaris-no opened #327 "Flutter Gallery 2.8.1 doesn't start on MacOS"
It's the first time I was going to try out the Mac app but it doesn't start at all.
I downloaded and unpacked https://github.com/flutter/gallery/releases/download/v2.8.1/flutter_gallery_macos.zip
Launching it always triggers a system dialog which displays "The application “Flutter Gallery” can’t be opened."

MacOS Catalina (ver. 10.15.6).

Anything special that needs to be done on my side to resol

[2020-09-24 05:56] guidezpl commented on #327
Thanks for filing, I confirmed the issue. I've uploaded a new version of the release. Can you please download and give it a try?

[2020-09-24 07:11] binaris-no commented on #327
Yes, all good now. Thanks!

[2020-09-24 07:11] #327 closed

[2020-09-24 07:17] guidezpl commented on #322
Upstream issue is fixed

[2020-09-24 07:17] #322 closed

[2020-09-24 07:20] guidezpl commented on #275
That PR has landed 🎉 so I think we can close this issue

[2020-09-24 07:22] guidezpl commented on #255
Hi @FWiner. According to your flutter doctor, you're on the stable channel. Could you please try again on the master channel? Closing this issue, but if it doesn't work, please leave a comment.

[2020-09-24 07:22] #255 closed

[2020-09-24 07:22] guidezpl commented on #252
Closing, without further information. Please leave a comment if you're still experiencing issues

[2020-09-24 07:22] #252 closed

[2020-09-24 12:01] perclasson commented on #43
I'll not automate the deployment of the web application to avoid dealing with firebase tokens in Github.

[2020-09-24 12:01] #43 closed

[2020-09-24 13:19] guidezpl commented on #315
cc @justinmc @GaryQian I did a preliminary investigation by simplifying the widget tree.

1. Just return a Text('text') [here](https://github.com/flutter/gallery/blob/master/lib/pages/settings.dart#L140)
2. Removing a `Material`(https://github.com/flutter/gallery/blob/master/lib/pages/backdrop.dart#L235) seemed to fix the issue, given 1.

Do you have any idea why this is occuring?

[2020-09-24 15:44] guidezpl commented on #55
@stuartmorgan I think the plugin is now considered stable, can you please confirm?

[2020-09-24 15:58] rami-a commented on #55
I believe https://github.com/flutter/gallery/pull/325 updated the plugin to the lastest that supports windows/linux now

[2020-09-24 15:58] rami-a commented on #55
@gspencergoog is that correct?

[2020-09-24 16:01] stuartmorgan commented on #55
Yes, that's correct. This is fixed.

[2020-09-24 16:01] #55 closed

[2020-09-24 20:16] liyuqian commented on #275
Cool, I'm going to close this and roll the gallery version in Flutter repo.

[2020-09-24 20:16] #275 closed

[2020-09-28 16:21] justinmc commented on #315
CC @gspencergoog

Nothing jumps out at me unfortunately...  How do you reproduce this exactly?  I tried running the gallery on Mac and playing around with the settings menu, but nothing seemed missing.

[2020-09-29 08:43] guidezpl commented on #315
The issue was fixed after upgrading from
[code]

to

[code]

[2020-09-29 08:43] #315 closed

[2020-09-30 06:48] 4332weizi commented on #285
[code]

[2020-09-30 07:41] guidezpl commented on #285
Simple fix, the app runs on the master channel. See https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel for more details

[2020-09-30 08:10] 4332weizi commented on #285
Thank you, it works!

[2020-10-01 10:17] Alabhya268 opened #334 "Add Material Navigation Drawer to Material Section"
I am new to open source but i think i will able to work on it.

[2020-10-02 07:10] Megidd opened #335 "'package:flutter/src/widgets/page_view.dart': Failed assertion: line 130 pos 15: 'viewportFraction > 0.0': is not true."
**Describe the bug**
I clone the repository and don't change any code. I run the Gallery on the `master` channel and I do pub get. I connect my smartphone to the computer and I build and run by Android Studio.  However, an exception is thrown:

[code]

**Flutter doctor**
Output of `flutter doctor -v`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Switch to `

[2020-10-02 13:32] Alabhya268 commented on #189
HI @clocksmith I would like to work on It.Can you assign this issue to me

[2020-10-02 21:26] apomalyn commented on #226
I'm very new to open source and I don't see any CONTRIBUTING.md inside the repo so I will just ask. Can I take this issue?
If yes, what is the correct process to contribute?

Thanks :D

[2020-10-05 08:34] gozzoo opened #336 "Scrolling is very choppy"
**Describe the bug**
When I scroll with a mouse Scroll wheel the window contents jumps up and down.

**Flutter doctor**

[code]

**Expected behavior**
Smooth scrolling experience.

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Version [10]

[2020-10-05 10:29] perclasson opened #337 "Automate deployment to Play Store and update documentation"
Continuation of https://github.com/flutter/gallery/issues/43:

- Automate the deployment to Play store, as it used to be for the old Gallery with fastlane: https://github.com/flutter/flutter/blob/master/dev/bots/deploy_gallery.sh
- Update https://flutter.dev/docs/deployment/cd to include the new steps we took.

[2020-10-06 09:02] guidezpl commented on #226
Hi @apomalyn. Sure! I've created an upstream bug that (I believe) you can assign yourself to flutter/flutter#67396. The CONTRIBUTING.md for flutter/flutter applies

[2020-10-06 19:04] kevmoo opened #339 "Drop dependency on `scoped_model`"
As discussed elsewhere, the dependency on `scoped_model` should likely be **dropped**.
* It's a 1-file package. (Should be easy to replace/inline)
* It hasn't been touched in ~2 years
* It'd likely be much faster to replace the usage than to work to get the external dependency updated!

See also https://github.com/flutter/flutter/issues/66395#issuecomment-704489903

CC @pcsosinski @pennzht

[2020-10-06 19:05] kevmoo commented on #339
Also CC @willlarche

[2020-10-06 19:15] apomalyn commented on #226
Hi @guidezpl ! Thanks, 😄  I can't assign the issue to myself but it's not a problem, I will drop a comment there to signify my interest on the issue.

To be sure to correctly understand the issue, the a11y message about the slider currently read only the value of the slider and we would like to have a nice message like "Slider value is XX"?
This problem is from the Flutter framework, not gallery,

[2020-10-07 07:59] guidezpl commented on #226
Yes this is a framework PR, but it's not about changing the label manually. Rather, setting `Semantics.slider` [docs](https://master-api.flutter.dev/flutter/widgets/Semantics-class.html) to `true` for those three widgets

[2020-10-08 00:02] apomalyn commented on #226
Thank you a lot!

[2020-10-08 05:55] Raj-Dave368 commented on #336
![image](https://user-images.githubusercontent.com/54175432/95420191-b433d580-0958-11eb-989d-97fc527e71c0.png)
Search "how far you scroll" in the window text field (right side of start menu).

[2020-10-08 08:49] gozzoo commented on #336
@Raj-Dave368 this is not what I mean. Changing the scrolling step won't make scrolling less choppy. If you compare scrolling in this app with Chrome you'll see how smooth it is happening in Chrome. I'm not sure if this is annimation issue or something else but there is a significant difference.

[2020-10-08 15:10] guidezpl commented on #336
Could you please provide a video to better illustrate your issue?

[2020-10-08 15:12] #279 closed

[2020-10-09 15:23] Alabhya268 commented on #334
#340 has been merged ,so i'll be closing this issue

[2020-10-09 15:23] #334 closed

[2020-10-10 05:34] Alabhya268 commented on #190
@clocksmith , I want to work on this .
what icon should i use to show it in material section?

[2020-10-11 16:47] gozzoo commented on #336
![gallery-choppy-scrolling](https://user-images.githubusercontent.com/296970/95684460-98e7f500-0bfa-11eb-9507-f89612f07170.gif)

[2020-10-13 14:40] perclasson opened #345 "Use new env files for Github Actions"
For more information:
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-10-13 15:08] perclasson opened #346 "Rally login button is wrong height"
It does not have the correct height, should be about 40 dp height, something like this:
<img width="508" alt="Screen Shot 2020-10-13 at 16 56 14" src="https://user-images.githubusercontent.com/1770678/95879331-898db680-0d76-11eb-840b-64a85f949052.png">

[2020-10-13 15:38] clocksmith commented on #335
Is this running as an Android app or running in the browser on an Android phone?

[2020-10-13 16:20] guidezpl commented on #336
It's hard to see with the gif frame loss. Two possible things you could do to help me debug would be

* upload the video somewhere and link back
* run the gallery directly, see if you can get the performance overlay (https://flutter.dev/docs/perf/rendering/ui-performance#displaying-the-performance-overlay) and posting results

[2020-10-13 17:16] #345 closed

[2020-10-13 18:16] Megidd commented on #335
@clocksmith This is running as Android app.

[2020-10-13 18:49] #190 closed

[2020-10-13 19:25] #207 closed

[2020-10-13 19:25] #208 closed

[2020-10-14 02:15] ayaankhan98 commented on #346
Basically the text `LOGIN` within the button is at wrong height, isn't?
![re](https://user-images.githubusercontent.com/43348292/95935550-1d03cd80-0df1-11eb-8dfc-a00a497a9914.png)

[2020-10-14 09:13] perclasson commented on #346
@ayaankhan98 Feel free to work in it :) that's very much appreciated.

Yes it looks as if the text is at the wrong height, but also that the vertical padding around it is too small. With the text, the button should be about 40px in height, right now it looks smaller to me.

[2020-10-14 17:37] ayaankhan98 commented on #346
@perclasson i am facing some issue in local setup
<details>

<summary>Error logs</summary>

"af": 33 untranslated message(s).
"am": 33 untranslated message(s).
"ar": 33 untranslated message(s).
"ar_EG": 33 untranslated message(s).
"ar_JO": 33 untranslated message(s).
"ar_MA": 33 untranslated message(s).
"ar_SA": 33 untranslated message(s).
"as": 33 untranslated message(s).
"az": 33 untranslated me

[2020-10-14 20:27] perclasson commented on #346
I think if you run it with `flutter run -v -d linux` you'll get the full error logs.

[2020-10-14 20:36] HansMuller commented on #346
Is this happening because we're automatically adjusting the theme's visualDensity for desktop?

[2020-10-15 01:38] ayaankhan98 commented on #346
No it is actully realated to this [PR](https://github.com/flutter/flutter/pull/64101) of `flutter/flutter`
i had not fetched the changes from the flutter repo. This PR has introduced the new widget scafflod messenger

<details>

<summary>Error Logs</summary>

[+11743 ms] lib/pages/demo.dart:736:7: Error: The getter 'ScaffoldMessenger' isn't defined for the class 'CodeDisplayPage'.
[        ]  - 'C

[2020-10-15 10:37] perclasson commented on #346
It's a good point that `visualDensity` is probably the reason behind the smaller button. Let me comment on your PR @ayaankhan98 .

[2020-10-16 09:07] #346 closed

[2020-10-16 16:14] Megidd commented on #335
I switched to `v2.8.1` tag, but I receive the same above-mentioned exceptions:

[code]

[2020-10-17 08:37] gozeloglu commented on #168
Hi @guidezpl . I want to take on me this issue. But I am newbie to make contribution on open source. So, can you assign me and just tell me what should I do a little bit?

[2020-10-17 11:15] YWD opened #350 "ScaffoldMessenger class not found"
where is ScaffoldMessenger!!!

[2020-10-17 11:43] ayaankhan98 commented on #350
@YWD [introduced here](https://github.com/flutter/flutter/pull/64101)

[2020-10-17 11:45] Alabhya268 commented on #350
@ayaankhan98 please upgrade flutter to master branch as ScaffoldMessanger is newly add

[2020-10-17 11:47] ayaankhan98 commented on #350
@Alabhya268 i do have upgraded version of master branch, i was just telling @YWD about it as he created a issue for this.

[2020-10-17 11:52] Megidd commented on #335
Issue got resolve and I'm not quite sure why! Here is the observation:

- Before working on Gallery with Android Studio, I had downloaded and installed APK [release 2.8.1](https://github.com/flutter/gallery/releases/tag/v2.8.1) on my smartphone.
- Until yesterday, I was getting the same exceptions.
- Today, when my smartphone was *not* connected to Android Studio (computer), I launched the preinst

[2020-10-17 11:52] #335 closed

[2020-10-17 12:03] Alabhya268 commented on #350
@ayaankhan98 sorry it's my fault.i misunderstood the comment

[2020-10-17 12:24] YWD commented on #350
I'm using the latest master channel!

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.23.0-19.0.pre.92, on Mac OS X 10.15.4 19E287
    darwin-x64, locale en-CN)
[!] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor
      --android-licenses
[✓] Xcode

[2020-10-17 12:34] YWD commented on #350
Oh, It's Android Studio's problem, I have two flutter environment on my computer, and I use stable channel for one project, master channel for gallery. but the 'flutter SDK path' set for gallery project didn't work. I check master channel's scaffold.dart and find there did have 'ScaffoldMessenger'.
Thanks @ayaankhan98  @Alabhya268

[2020-10-17 12:34] #350 closed

[2020-10-18 05:16] Alabhya268 commented on #134
I wanna work on this.

[2020-10-20 04:34] Megidd commented on #335
I still run into this issue frequently. But running application on Android Studio consecutively, eventually resolves the error.

[2020-10-20 09:38] #168 closed

[2020-10-20 17:01] #134 closed

[2020-10-21 08:03] softmarshmallow opened #353 "How is the web optimized for Canvas? (CustomPaint / Skia CanvasKit)"
https://gallery.flutter.dev/#/demo/2d-transformations

As we can see, Canvas performance on web is super slow. I don't understand this performance. It's basically running on skia canvaskit. How could it get this slow?

Is this the best performance we can get via the flutter canvas on web?

Providing flutter web canvas preformance example will be great for many developers to choose flutter for thei

[2020-10-21 12:58] guidezpl opened #354 "Investigate using SkSL warmup"
How: https://flutter.dev/docs/perf/rendering/shader

Why: Drastically reduce worst frame time in Reply on a Moto G4 from 500ms

Context: https://github.com/flutter/flutter/issues/66989#issuecomment-713038622

[2020-10-22 15:37] clocksmith commented on #339
library was updated to 1.1.0 with https://github.com/flutter/gallery/pull/355

[2020-10-22 15:37] #339 closed

[2020-10-22 15:39] perclasson opened #356 "We should ignore deprecation warnings in flutter/tests"
In development we want to be notified about deprecation warnings. In flutter/tests we do not.

We should figure out a solution for this. Might want two different versions of `analysis_options.yaml`. Could file a flutter/flutter ticket to ask for the feature request to set the file path to the analysis_options.yaml file via an env variable for example.

[2020-10-22 15:40] clocksmith commented on #353
@justinmc Can you take a look?

[2020-10-22 15:41] perclasson opened #357 "Use different l10n.yaml when developing vs deploying the web version"
Currently we get warnings when working on the Gallery, that deferred loading causes hot reload to not work. We actually only want deferred loading to be used in the release version of the Gallery on web.

Figure out if it's possible to have a separate `l10n.yaml` for the web deploy version and for when developing on the Gallery.

[2020-10-24 15:07] Megidd opened #359 "Change supported locales"
I'm changing [this line](https://github.com/flutter/gallery/blob/00c8404ee13ab1383fca94daaeb70f156701d707/lib/main.dart#L62) according to the relevant [documentation](https://flutter.dev/docs/development/accessibility-and-localization/internationalization#specifying-the-apps-supportedlocales-parameter) by this patch:

[code]

But the locales options on settings page are *not* modified. Any idea wh

[2020-10-26 02:36] font-size opened #360 "can not run gallery"
step1: cloned gallery in my computer
step2: open this project with Android Studio
step3: run "flutter channel master" and "flutter upgrade"
step: run gallery failed
I'm puzzled

Android Studio say:
lib/layout/adaptive.dart:18:55: Error: Getter not found: 'm'.
  return getWindowType(context) == AdaptiveWindowType.m;
                                                      ^
FAILURE: Build failed with

[2020-10-26 10:50] guidezpl commented on #356
Would having all errors show up as warnings instead fix the this on the flutter/tests side?

[2020-10-26 10:52] perclasson commented on #356
@guidezpl I think having them as a warning will still cause 'flutter analyze' to return a failure.

[2020-10-26 13:36] rami-a commented on #359
The `GalleryLocalizations.supportedLocales` is used in settings.dart to populate the list in settings. So you'd have to make the change to `GalleryLocalizations.supportedLocales` instead to reduce the locales you want to support. Hope this answers your question!

[2020-10-26 15:25] Megidd commented on #359
@rami-a `.dart_tool/flutter_gen/gen_l10n/gallery_localizations.dart` containing `GalleryLocalizations` class is _not_ part of the repository. When I change the `supportedLocales` inside it, they keep coming back by automatic regeneration ☹️ Not sure what I'm missing.

[2020-10-26 15:31] Megidd commented on #359
I have studied this:

https://github.com/flutter/gallery/blob/master/lib/l10n/README.md

... and I still wondering how I can change supported locales permanently ... 😦

[2020-10-26 15:35] rami-a commented on #359
Interesting, @shihaohong could you take a look?

[2020-10-26 15:40] #357 closed

[2020-10-26 15:48] perclasson commented on #360
Can you put your `flutter doctor -v` here?

[2020-10-26 17:39] justinmc commented on #353
I've wondered this myself, but I worry that it may be partially due to my own poor use of CustomPaint when I wrote the demo.  CC @nturgut in case you have any observations off the top of your head about why this demo would be so slow.

I've noticed that the demo's performance is fine if I do any of the following:

  * Replace the CustomPaint with a Container.
  * Change the CustomPaint to draw a s

[2020-10-27 01:51] font-size commented on #360
flutter doctor -v here

`[√] Flutter (Channel master, 1.24.0-4.0.pre.57, on Microsoft Windows [Version 10.0.17763.1282], locale zh-CN)
    • Flutter version 1.24.0-4.0.pre.57 at E:\flutter\flutter
    • Framework revision fdac8a9d1f (26 hours ago), 2020-10-25 19:47:02 -0400
    • Engine revision d4a3c9c471
    • Dart version 2.11.0 (build 2.11.0-256.0.dev)
    • Pub download mirror https://pub.flu

[2020-10-27 10:37] guidezpl commented on #360
https://github.com/flutter/gallery/pull/364 may fix this

[2020-10-27 10:39] guidezpl commented on #356
There's a flag (`--[no-]fatal-warnings`) for `flutter analyze`. Could be an option

[2020-10-27 13:47] shihaohong commented on #359
@Megidd Could you further describe your use case? Do you only want a subset of `GalleryLocalizations.supportedLocales` to be used by the application? What you did above should work if you only want to use two supported locales in your app:
[code]

[2020-10-27 13:52] shihaohong commented on #359
Actually, I took a look at `settings.dart` and one way to do resolve your issue is to also modify the list there:
[code]
to the custom list you want to use.

`GalleryLocalizations.supportedLocales` is a convenience getter that provides the entire list of locales that is generated by the l10n tool. It's not a necessity, but is helpful if you would just want to use every single locale you support in

[2020-10-27 13:53] shihaohong commented on #359
I'll close the issue for now, but feel free to reopen it if I misunderstood something!

[2020-10-27 13:53] #359 closed

[2020-10-27 16:27] pennzht commented on #326
Will be unblocked by https://github.com/flutter/packages/pull/232

[2020-10-27 16:41] Megidd commented on #359
@shihaohong Thanks! 😃 I can confirm that supported locales of **settings** page are on file `lib/pages/settings.dart` and can be limited by modifying [this line](https://github.com/flutter/gallery/blob/00c8404ee13ab1383fca94daaeb70f156701d707/lib/pages/settings.dart#L124) with this patch:

[code]

[2020-10-28 02:12] font-size commented on #360
wow, it works, very thinks the two guys!

[2020-10-28 10:07] perclasson commented on #360
Great thanks!

[2020-10-28 10:07] #360 closed

[2020-10-29 04:43] syfulin opened #365 "ListView shows poor performance"
ListView in Gallery.flutter.dev while scrolling shows poor performance only for me or for everyone?  It's like the list is twitching.

Google Chrome (iphone 7):
https://youtu.be/XRK36Im1kU0

[2020-11-03 09:32] #226 closed

[2020-11-05 11:23] pennzht opened #369 "Rewrite animated icon on backdrop without Flare"
**Is your feature request related to a problem? Please describe.**
Gallery uses Flare to display the animated open/close icon on the backdrop on the home page.
There are no plans to migrate Flare to NNBD yet, so we will rewrite the animated icon without using Flare, so that Gallery can be migrated successfully.

**Describe the solution you'd like**
1. Re-create the animated open/close icon using [

[2020-11-09 12:55] Alabhya268 commented on #189
@clocksmith I want to work on this .

[2020-11-09 14:08] rami-a commented on #189
Thanks for your interest, i've assigned it to you :)

[2020-11-10 05:37] Alabhya268 commented on #189
@rami-a , Thanks for assigning this issue to me.
Should I create different types of Top appbar demo like search bar, guiding appbar, sliverappbar ?

[2020-11-10 09:34] pennzht opened #372 "App becomes Unresponsive after Repeated Clicking on Settings Menu"
**Describe the bug**
Repeatedly opening and closing sub-menus inside the settings menu raises errors, and causes the app to stop responding.

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the latest Gallery with latest Flutter, in Chrome. (`flutter run -d chrome`)
2. Open and close the settings menu on the

[2020-11-10 14:27] rami-a commented on #189
I think just doing the basic `AppBar` widget is fine for now. We can add the other types down the road but they aren't as important

[2020-11-10 15:49] pennzht commented on #326
Closed by https://github.com/flutter/gallery/pull/367

[2020-11-10 15:49] #326 closed

[2020-11-11 16:15] clocksmith commented on #372
Can you link the commit where it begins to break? https://github.com/flutter/gallery/commit/cd60da784f9f93708e75c8814782a7075270e615 404s

[2020-11-11 16:29] pennzht commented on #372
(Next steps)
1. See if this still fails with a static icon.

[2020-11-11 19:49] ferhatb commented on #365
Please build against latest master. Current gallery shows 40ms frames vs 10ms on master.

[2020-11-16 10:13] pennzht commented on #369
Closed by https://github.com/flutter/gallery/pull/375

[2020-11-16 10:13] #369 closed

[2020-11-17 10:17] Alabhya268 opened #376 "Snackbar not working as expected"
**Describe the bug**
Snackbar not working as expected .
Whenever snackbar shows up , Its shows 2 snackbar both of different looks and size,
one uses whole app and other uses only demo section .

To switch channel run:
[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel master, 1.24.0-8.0.

[2020-11-17 14:10] #189 closed

[2020-11-17 14:15] rami-a commented on #376
hmm interesting, I guess this is an unintended side effect of the new snackbar messenger system. Perhaps because this screen contains two scaffolds, it is doing this.

@Piinks do you happen to know if there is away around this?

[2020-11-17 16:06] Piinks commented on #376
Hey @Alabhya268 thanks for reporting this! Yes, this is an unintended consequence of the ScaffoldMessenger. We are adding some error handling to prevent this in https://github.com/flutter/flutter/pull/70227 and updating the migration guide in https://github.com/flutter/website/pull/4977

Since there are nested Scaffolds, when the ScaffoldMessenger is called upon to show a snackbar, both the inner

[2020-11-17 17:22] hiashutoshsingh commented on #71
is there any way to get callback in our app which external app is open and what data they are typing or clicking ?

[2020-11-18 00:09] Piinks commented on #376
Fix is in https://github.com/flutter/gallery/pull/377 :)

[2020-11-18 08:38] guidezpl commented on #71
@hiashutoshsingh I'm not sure, but this seems to be a question better suited for StackOverflow or the Flutter Discord channel

[2020-11-20 15:04] hongfeiyang opened #380 "Cannot build on iOS 14.2 Xcode 12.2"
**Describe the bug**
Command PhaseScriptExecution failed with a nonzero exit code

Flutter doctor shows everything is a tick
Signing is ok,
just cannot build

**To Reproduce**
Steps to reproduce the behavior:

Run flutter run with a physical device attached (iOS 14.2)

**Expected behavior**
It should build at least...

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2020-11-20 15:07] guidezpl commented on #380
It appears that you're not on the master channel, see https://github.com/flutter/gallery/#running-flutter-gallery-on-flutters-master-channel

[2020-11-20 15:20] hongfeiyang commented on #380
Thanks, it now builds and installs on my device. Sorry that I didn't read the instruction properly :(

[2020-11-20 15:24] guidezpl commented on #380
No worries!

[2020-11-20 15:24] #380 closed

[2020-11-21 00:54] #376 closed

[2020-11-21 19:45] jonahwilliams opened #381 "Rendering glitch on Material Banner/Sample Code page on Windows Desktop"
Not sure what the technical term is for this, but notice the white between the embedded app and the surrounding purple background.

![image](https://user-images.githubusercontent.com/8975114/99886107-c6a75d00-2bee-11eb-921c-07fc45179d09.png)

[2020-12-04 09:59] Megidd opened #383 "android.content.res.Resources$NotFoundException: File res/drawable-v21/launch_background.xml"
**Describe the bug**

Previously I was building and running fine. I don't remember making any change, but recently, I run into such errors while building and running the app on a Samsung Galaxy Note 3 through Android Studio:

[code]

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Git checkout master branch
2. O

[2020-12-08 15:05] Zazo032 opened #384 "Cupertino picker looks weird in 4K monitor"
**Describe the bug**
In my 4K monitor, Cupertino wheel-like selectors look weird when on full screen size. If I resize the window to be more narrow, it renders as expected.

**Screenshots**
![image](https://user-images.githubusercontent.com/2807712/101500595-fa181480-396e-11eb-9152-df6a3b68c66d.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome
 - Vers

[2020-12-11 18:54] rish07 commented on #264
Hey, is anyone working on this issue? If not, I would like to work on it.

[2020-12-15 07:37] Alabhya268 opened #387 "[Reply] back button does not look good."
**Describe the bug**

Back button in reply does not look good.
It takes status bar area of phone.

To switch channel run:
[code]

**Flutter doctor**
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel master, 1.25.0-9.0.pre.43, on Microsoft Windows [Version 10.0.19042.685], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[

[2020-12-15 23:11] rohan-kadkol commented on #350
I solved this problem by changing the Flutter channel to master. (https://github.com/flutter/gallery/issues/350#issuecomment-710855435)

Hence, run the following in the command line
[code]

[2020-12-18 16:24] Radeonisos opened #393 "on android device - flutter web keyboard hide textfield"
Hello

on my android device - flutter web keyboard hide textfield

edit password :

![1608308620937](https://user-images.githubusercontent.com/15607745/102637145-da92a000-4155-11eb-83db-867ed05c59ff.jpg)

edit confirm password:

![1608308620930](https://user-images.githubusercontent.com/15607745/102637157-dfefea80-4155-11eb-813e-42df9e51c5a7.jpg)

i have the same bug on my projet (flutter web)

[2020-12-22 13:23] guidezpl commented on #387
Thanks for filing. Probably a simple `SafeArea` fix

[2020-12-23 11:50] kishanhitk commented on #387
@guidezpl, Can I work on this?

[2020-12-23 11:59] guidezpl commented on #387
You're welcome to!

[2020-12-23 16:01] #387 closed

[2020-12-23 18:19] rish07 commented on #393
@guidezpl can I work on this?

[2020-12-23 23:41] Renzo-Olivares commented on #298
@clocksmith Can I work on this?

[2020-12-24 10:40] guidezpl commented on #393
Sure! Btw this is not specific to web, I could repro on an iPhone simulator

[2020-12-24 14:34] rish07 commented on #393
Right yes, I'll just check what the problem could be and be right back to discuss the problem @guidezpl

[2020-12-25 14:44] rish07 commented on #393
@guidezpl I have created the PR. Please let me know if there are any changes, thanks.

[2020-12-29 18:17] guidezpl commented on #354
I looked into this a little.

1. Run app on a Moto G4 to capture shaders
`flutter run --profile --cache-sksl --purge-persistent-cache -d moto`

1. Navigate around, looking for janky animations. Press 'M', generating `flutter01.sksl.json`

1. Compile app (.apk) with shaders
`flutter build apk --bundle-sksl-path flutter01.sksl.json --target=test_driver/transitions_perf.dart`

1. Run transitions test

[2020-12-29 18:20] guidezpl commented on #99
https://github.com/flutter/gallery/issues/354 is now believed to be the primary blocker

[2021-01-05 14:28] rami-a commented on #298
Hey Renzo, sure thing!

[2021-01-05 15:54] #393 closed

[2021-01-17 03:27] Renzo-Olivares commented on #298
Hey @rami-a Is this what was in mind.

![body-cap](https://user-images.githubusercontent.com/948037/104830132-aed80800-5830-11eb-8f12-9336a7a1bd34.png)
![body-cap-tablet](https://user-images.githubusercontent.com/948037/104830149-e3e45a80-5830-11eb-9ef2-67e095c958bc.png)
![body-cap-search](https://user-images.githubusercontent.com/948037/104830145-dd55e300-5830-11eb-8ded-4d53b9fec9b7.png)

[2021-01-17 13:32] Megidd commented on #383
### Pulling master branch

The exceptions is still thrown after pulling the most recent Flutter `master` branch:

[code]

Then, running Flutter `doctor`:

[code]

Flutter setup on Android Studio:

![image](https://user-images.githubusercontent.com/17475482/104844457-91b14100-58e5-11eb-9f8b-3c5d0fa84b62.png)

Dart setup on Android Studio:

![image](https://user-images.githubusercontent.com/17475482

[2021-01-17 17:25] Megidd commented on #383
### Android 9 (API 28) is fine

I tested with with Samsung Galaxy A10 (SM A105F) with Android 9 (API 28) on it, the exception was *not* thrown.

[code]

### How to fix for Android 5.0 (API 21)

I just wanted to know how to resolve the exception for Android 5.0 (API 21)? I tried some suggestions here, but they didn't resolve the exception:

https://stackoverflow.com/a/39419701/3405291

[2021-01-17 17:50] Megidd commented on #383
### Implication

Implication so far is that the app runs fine with Android 9 (API 28) but throws the above-mentioned exception with Android 5.0 (API 21). Does anybody know what could be the problem cause? How could I possibly run the app on Android 5.0 (API 21)?

[2021-01-19 03:50] Megidd commented on #383
Commit cfa788a0b1c5556deabbfb149208a9586b6ee7e1 has added `android:resource="@drawable/launch_background"` statement to `android/app/src/main/AndroidManifest.xml` file. Commit is done by @Renzo-Olivares , so he might be able to comment on this. Thanks 😃

[2021-01-19 03:56] Megidd commented on #383
My `android/app/src/main/res/drawable-v21/launch_background.xml` file contains:

[code]

[2021-01-19 03:58] Megidd commented on #383
My `android/app/src/main/AndroidManifest.xml` file contains:

[code]

[2021-01-19 14:32] rami-a commented on #298
Yep, that looks good to me!

[2021-01-22 17:11] zengraf commented on #384
It is actually a bug in the framework, as described in flutter/flutter#54241

[2021-01-22 17:41] #384 closed

[2021-01-24 03:38] Megidd commented on #383
In file `android/app/src/main/AndroidManifest.xml`, the exception is resolved by commenting out this:

[code]

Removing the above resolves the exception, although I'm not sure if it has any side effect.

[2021-01-28 03:25] shihaohong opened #411 "Web Benchmarks failing"
Unsure what started this issue, but the web benchmarks seemed to have stopped working.

I submitted an almost empty PR to reproduce: https://github.com/flutter/gallery/pull/410. Thinking it might've been some dependency problem issue, I ran `flutter pub get` which updated the version for the transitive `webdriver` dependency. This caused the Mac bot to fail similarly to how the Windows bot was fai

[2021-01-28 03:27] shihaohong commented on #411
The error logs is slightly different on windows:
[code]

[2021-01-28 11:31] mfch101 opened #413 "fatal error: 'Flutter/Flutter.h' file not found"
I worked on MacOS, with the IDE of vscode, and I want build the code running on ios emulator of IPhone 11 Pro Max.
I have Execute the commands ：
`lutter channel master
flutter upgrade

flutter channel stable
flutter upgrade`
flutter config --enable-ios
flutter create .

and then ,I execute the command :
flutter run

but it failed , the results are as follow:

To see a detailed report, use the --un

[2021-01-28 11:57] mfch101 opened #414 "build on iPhone 11 Pro max failed"
I have soloved

[2021-01-28 12:17] #414 closed

[2021-01-28 12:17] mfch101 commented on #414
I have soloved

[2021-01-28 18:27] #413 closed

[2021-01-28 18:28] mfch101 commented on #413
It doesn't appear again

[2021-01-28 18:45] mfch101 opened #416 "cannot build successfully on iPhone 11"
I worked on MacOS 11.4.6, with the IDE of vscode, and I want build the code running on ios emulator of IPhone 11 Pro Max.
I have Execute the commands ：

lutter channel master
flutter upgrade
flutter channel stable
flutter upgrade
flutter config --enable-ios
flutter create .

and then ,I execute the command :
flutter run

but it failed , the results are as follow:

"af": 11 untranslated message(s).

[2021-01-28 20:10] mfch101 commented on #416
I have solved the problem.

the solution:

The method Dir.each_child was introduced in Ruby 2.5, but I am using Ruby 2.3.0.
I updated Ruby to 2.7.2    (  2.5 or later is OK)
After Ruby updating , restart the IDE and re-install cocoapods.

[2021-01-28 20:10] mfch101 commented on #416
I have solved the problem.

the solution:

The method Dir.each_child was introduced in Ruby 2.5, but I am using Ruby 2.3.0.
I updated Ruby to 2.7.2 ( 2.5 or later is OK)
After Ruby updating , restart the IDE and re-install cocoapods.

[2021-01-28 20:10] #416 closed

[2021-01-30 08:10] rish07 commented on #337
Hey @guidezpl, I would like to work on the auto-deployment feature

[2021-01-30 10:48] rish07 opened #418 "[FIX ISSUE #264] Approach for Open In Dart-Pad Feature"
**Is your feature request related to a problem? Please describe.**
Issue #264 mentions the feature that I am referring to.

**Describe the solution you'd like**
If you check the contributing.md file on Dart pad's repo, the way you create a new sample is by creating a github gist of the code and then passing it like `https://dartpad.dev/{gistID}` . This way you can open the sample code that is pres

[2021-01-30 10:49] rish07 commented on #418
@pennzht @guidezpl

[2021-01-30 11:03] rish07 commented on #418
For example, a sample gist I made is `https://gist.github.com/rish07/fd7c3bbd704a11b1976fe6ae224834ea`, so to open in dart pad I just have to open `https://dartpad.dev/fd7c3bbd704a11b1976fe6ae224834ea`. So for all the examples in the gallery, we just need to create a gist of the sample code and then open a browser tab with the above-mentioned link.

[2021-02-01 11:00] guidezpl commented on #337
Hey @rish07, thanks for offering, but this would have to be done by a Flutter engineer for permission/access reasons

[2021-02-01 11:32] rish07 commented on #337
@guidezpl Thanks for the reply. Can you please take a look at this? I have been trying to get a reply on my approach for a feature request on Flutter Gallery[https://github.com/flutter/gallery/issues/418]( https://github.com/flutter/gallery/issues/418)

[2021-02-01 11:48] shihaohong commented on #418
cc/ @RedBrogdon do you happen to know who integrated Dartpad into Flutter's API docs? Could a similar approach be taken in the Flutter gallery?

[2021-02-02 08:44] guidezpl commented on #418
cc @pennzht You may have some thoughts on this

[2021-02-02 08:44] guidezpl commented on #337
I know of someone who can help for that

[2021-02-02 08:58] rish07 commented on #418
[Got a reply from @domesticmouse  on dart-lang repo](https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide), It also mentions that we need a gist ID for the code, which brings back us to the problem I am facing in the first comment and my solution would be to let user's do an OAuth.

[2021-02-02 10:06] cntoss opened #420 "design overflow on motion_demo_shared_x_axis_transition.dart web view"
**Describe the bug**
while running on web design overflow after selecting x-axis of motion.

Screenshot:
![Screenshot (30)](https://user-images.githubusercontent.com/47077442/106584252-1484fd80-656e-11eb-8db1-d9342f1026b3.png)

Solution prefer:
Use ListView instead of Column on child widget  of  LayoutBuilder on motion_demo_shared_x_axis_transition.dart

[2021-02-02 14:15] Krunal3909 commented on #420
Can I fix this issue?

[2021-02-02 14:20] rami-a commented on #420
Hey @Krunal3909 feel free to tackle this issue, if you'd like. I'll assign you.

[2021-02-03 16:49] eseidelGoogle opened #421 ""Password" label on Shrine demo is truncated"
http://gallery.flutter.dev/ as of Feb 3, 8:46am PST.
https://gallery.flutter.dev/#/shrine/login

The "Password" field has an elipsis where I wouldn't expect.  Not sure if that's a text measurement bug in Flutter web?

![image](https://user-images.githubusercontent.com/11857803/106779966-5c526600-65fc-11eb-9c5f-69a8b8b8f281.png)

Label text:
https://github.com/flutter/gallery/blob/master/lib/studie

[2021-02-03 16:50] eseidelGoogle commented on #421
I'm using a PixelBook with second monitor.

[2021-02-03 17:01] rami-a commented on #421
Interesting, I'm unable to repro with chrome on macOS. CC @ferhatb @yjbanov

[2021-02-03 17:02] ferhatb commented on #421
/cc @mdebbar

[2021-02-03 19:25] mdebbar commented on #421
I tried on linux Chrome and Mac Chrome. Both don't repro the issue. I'll keep trying different devices.

[2021-02-03 19:29] eseidelGoogle commented on #421
It repro'd for me just now, but then I dragged the tab off of my second monitor back to the main display and it went away... Then I dragged it back to the second monitor and now I can't reproduce.  It may have nothing to do with the second monitor and may just be random.

Feel free to give this a low priority and forget about it. :)  Maybe there is a race somewhere?

[2021-02-04 09:37] Alabhya268 opened #422 "[Material] Add focusnode in textfield demo in material section for better user experience"
User have to tap on next text field to shift focus.
 FocusNode will help shift focus to next focus to next textfeild when return button will be tapped on keyboard.

I would like to work on this issue.

@rami-a , Let me know what you think.

[2021-02-04 14:17] rami-a commented on #422
Sounds good to me

[2021-02-05 04:56] RedBrogdon commented on #418
DartPad's full-screen UI can load code solely from gists. It's embedded UI, however, can load from four different sources:

* A GitHub gist
* The containing page (in the case of an embedded DartPad)
* The Flutter API Doc server
* A GitHub repo

We don't really publicize the last two, because the API doc server is a very specific use case, and the ability to load from a repo never really caught on.

[2021-02-05 05:28] rish07 commented on #418
What do you suggest I do next? @RedBrogdon

[2021-02-05 05:54] RedBrogdon commented on #418
I'll defer to what the Material team wants to do with the gallery. If they'd like to generate code in this repo (or another) similar to what you see here:

https://github.com/RedBrogdon/dartpad_exercises/tree/master/embeddings_demo/flutter_just_main

That's something DartPad can currently load into its embedded UI and would likely not be difficult to have the playground UI load as well.

[2021-02-05 06:45] rish07 commented on #418
So for all the demo code that flutter gallery has, we create something like the repo you mentioned and open these pages when they click on Open in dart pad button? @RedBrogdon

[2021-02-05 06:54] rish07 commented on #418
But wouldn't it still need a gist ID? as mentioned [here](https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#overview)

[2021-02-05 07:12] rish07 commented on #418
and why wouldn't [https://dartpad.dev/example/embed-flutter.html?gh_owner=rish07&gh_repo=dartpad_gallery&gh_path=flutter_allfiles](https://dartpad.dev/example/embed-flutter.html?gh_owner=rish07&gh_repo=dartpad_gallery&gh_path=flutter_allfiles) this work @RedBrogdon?

[2021-02-05 19:24] RedBrogdon commented on #418
It does! You just need to remove "example" from the URL:

https://dartpad.dev/embed-flutter.html?gh_owner=rish07&gh_repo=dartpad_gallery&gh_path=flutter_allfiles

[2021-02-06 04:11] rish07 commented on #418
Ah my bad @RedBrogdon! I'll try to implement this feature today then. @shihaohong

[2021-02-06 05:43] rish07 commented on #418
@RedBrogdon
[https://dartpad.dev/embed-flutter.html?gh_owner=rish07&gh_repo=gallery&gh_path=lib/demos/material/app_bar_demo&gh_ref=test&theme=dark&run=true&mode=flutter](https://dartpad.dev/embed-flutter.html?gh_owner=rish07&gh_repo=gallery&gh_path=lib/demos/material/app_bar_demo&gh_ref=test&theme=dark&run=true&mode=flutter),

I was just testing it on Material's App Bar demo and everything is work

[2021-02-06 06:16] rish07 commented on #418
There are two issues in [https://dartpad.dev/embed-flutter.html?gh_owner=rish07&gh_repo=gallery&gh_path=lib/demos/material/app_bar_demo&gh_ref=test&theme=dark&run=true&mode=flutter](https://dartpad.dev/embed-flutter.html?gh_owner=rish07&gh_repo=gallery&gh_path=lib/demos/material/app_bar_demo&gh_ref=test&theme=dark&run=true&mode=flutter),

1)` import 'package:flutter_gen/gen_l10n/gallery_localizati

[2021-02-08 04:56] rish07 commented on #418
@shihaohong @guidezpl @pennzht Should I go ahead make changes and create a PR as I mentioned above?

[2021-02-08 22:07] #411 closed

[2021-02-12 14:21] guidezpl commented on #420
Fixed by #427

[2021-02-12 14:21] #420 closed

[2021-02-13 13:45] lks-nbg opened #429 "Changing locale affects DisplayOptions only after reopening the settings menu"
**Describe the bug**
After changing to a different language/locale in the settings menu the new locale is applied immediately. However the strings of the submenus (DisplayOptions) do not change until you close and reopen the settings menu. In the screenshot below you can see the issue after switching from german to english. The headers get translated to english while the display options stay in ge

[2021-02-14 04:34] #422 closed

[2021-02-14 13:27] wliumelb opened #432 "App crashes on Android 11 when selecting any TextField"
The app would crash when tapping on any text field
![Screenshot_20210215-002307](https://user-images.githubusercontent.com/7555373/107878018-00ed7580-6f24-11eb-839f-952b4e8eb714.png)
![Screenshot_20210215-002143](https://user-images.githubusercontent.com/7555373/107878020-03e86600-6f24-11eb-97f2-d4af44b2f41a.png)

Pixel 5, Android 11.

[2021-02-15 09:11] guidezpl commented on #432
Is this the play store version, or built from source? If the latter, can you please provide the output of your `flutter doctor -v`?

[2021-02-16 11:23] wliumelb commented on #432
It's the play store version. In the reviews, there are multiple complaints about the latest version crashing on Pixel phones, so this could be a common problem.

I also tested on a Pixel 1 and an OnePlus6, both running Android 10 and both are fine. So it is most likely caused by an Android 11  issue.

[2021-02-16 20:56] pennzht opened #433 "Unable to update packages due to version conflict"
PR https://github.com/flutter/gallery/pull/426 is updating the versions of Gallery's upstream packages to prepare for null-safe migration.

A version conflict between `web_benchmarks` and `google_fonts` arose:

[code]

See https://github.com/flutter/gallery/pull/426 for more details.

[2021-02-16 23:12] nt4f04uNd opened #434 "ui bugs"
1. crane - russian tabs text goes out of bounds
2. shrine - glow effect is not lined up with the box angle, or clipped, thus goes out of the box (see top left area of the screenshot)
3. settings menu - safe area at the top is not applied

<div style="display:flex;">
<img width="33%" src="https://user-images.githubusercontent.com/39104740/108132375-c6bada00-70c3-11eb-87b7-639a91edb5f3.png" />

<img

[2021-02-17 00:34] mono0926 commented on #432
Caused by this bug: https://github.com/flutter/flutter/issues/66232, and it is fixed now.

[2021-02-17 01:43] wliumelb commented on #432
@mono0926 Thanks for the info. Hope the play store version could get an update soon.

[2021-02-17 01:43] #432 closed

[2021-02-17 17:21] rish07 commented on #418
Any suggestions @shihaohong @guidezpl @pennzht ?

[2021-02-18 08:48] guidezpl commented on #432
I'll push out an update very soon

[2021-02-18 09:15] pennzht commented on #433
Resolved by `web_benchmarks 0.0.4`

[2021-02-18 09:15] #433 closed

[2021-02-18 11:48] #298 closed

[2021-02-22 10:35] shihaohong opened #438 "Golden tests failing on CI"
**Describe the bug**
In https://github.com/flutter/gallery/pull/437 and https://github.com/flutter/gallery/pull/409, even though both PRs update the goldens to "what it should be", they are still failing on the CI. Even weirder still, https://github.com/flutter/gallery/pull/409 should contain no UI changes since it simply adds state restoration to some of the gallery demos.

Edit: I also checked t

[2021-02-22 12:29] guidezpl commented on #438
I don't remember it change recently. Looks like a font issue (e.g. https://github.com/flutter/gallery/pull/437/checks?check_run_id=1950907219):

| test | master | diff | masked diff |
 | --- | --- | --- | --- |
| ![home_page_mobile_dark_testImage](https://user-images.githubusercontent.com/6655696/108708428-bb2b4100-7511-11eb-82ea-95e6aeafe2c2.png) | ![home_page_mobile_dark_masterImage](https://use

[2021-02-23 00:12] shihaohong commented on #438
I ran an empty commit (https://github.com/flutter/gallery/pull/440), and it seems to cause failure. Here is one of the diffs:

![home_page_desktop_dark_isolatedDiff](https://user-images.githubusercontent.com/27032613/108786534-c41e2000-75ae-11eb-9710-860ded8cdddf.png)

![home_page_desktop_dark_maskedDiff](https://user-images.githubusercontent.com/27032613/108786552-cbddc480-75ae-11eb-9844-176eb2b9

[2021-02-23 00:19] shihaohong commented on #438
I also tried to update the GitHub bot to use Big Sur as an experiment, but its only in preview so it will not actually run: https://github.com/flutter/gallery/pull/439

[2021-02-23 03:09] rish07 commented on #418
I think having a feature to import packages would fix one of these issues. @RedBrogdon @rami-a @guidezpl

[2021-02-23 08:45] guidezpl commented on #438
Strange, it looks like the test image is a low-res version

[2021-02-24 01:53] snailedMan opened #442 "I get a issues about pub get failed (server unavailable)"
I download project gallery-master  but i can't run it. Because  pub get failed (server unavailable),how can i solve it.
<img width="640" alt="截屏2021-02-24 09 40 23" src="https://user-images.githubusercontent.com/16531415/108932815-f601b600-7684-11eb-8432-a58e73435029.png">

➜  ~ flutter doctor -v
[✓] Flutter (Channel master, 1.27.0-5.0.pre.112, on macOS 11.1 20C69 darwin-x64, locale zh-Hans-CN)

[2021-02-24 10:11] guidezpl commented on #442
Hi! This should help https://flutter.dev/community/china

[2021-02-26 05:54] iamchathu commented on #383
I'm also getting this error for Play Store pre-test

Device specifications
Model name
P8 青春版
Manufacturer
Huawei
Android Version (SDK)
Android 5.0 (SDK 21)
Locale
en_US
Screen size
720 x 1280
Screen density (DPI)
320
RAM (total memory)
2,048 MB
OpenGL ES version
2.0
ABI
ARM64_V8
CPU
HiSilicon Hi6220

[2021-02-28 10:57] Renzo-Olivares opened #446 "[Reply] Fade through transition between navigation rail destinations broken"
**Describe the bug**
The fade through transition that occurs when tapping on different navigation rail destinations is not working. Tapping different destinations does not yield a transition.

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to reply study
2. Click on a destination on the navigation rail
3. Th

[2021-03-01 15:20] #438 closed

[2021-03-02 15:32] Alabhya268 opened #447 "[Crane] switching tabs or tapping textfield gives error."
https://user-images.githubusercontent.com/57143358/109671846-726f2a00-7b9a-11eb-9795-e11660933e29.mp4

https://user-images.githubusercontent.com/57143358/109671857-74d18400-7b9a-11eb-9227-62f5e1acb65e.mp4

@rami-a @guidezpl , Have a look at this issue.

[2021-03-02 15:43] rami-a commented on #447
Thanks for filing this @Alabhya268

It doesn't appear to happen on web at gallery.flutter.dev

Is this running the latest flutter master channel? Could you please post the output of `flutter doctor -v`

[2021-03-02 15:48] Alabhya268 commented on #447
alabhya@alabhya-OMEN-by-HP-Laptop-15-dc0xxx:~$ flutter doctor -v
[✓] Flutter (Channel master, 1.27.0-9.0.pre.149, on Linux, locale en_IN)
    • Flutter version 1.27.0-9.0.pre.149 at /home/alabhya/flutter
    • Framework revision 9964e8fe38 (12 hours ago), 2021-03-01 23:00:02 -0500
    • Engine revision 17f6bfc480
    • Dart version 2.13.0 (build 2.13.0-90.0.dev)

[✓] Android toolchain - develop fo

[2021-03-02 15:51] Alabhya268 commented on #447
@rami-a , I am also using

[2021-03-02 15:53] Alabhya268 commented on #447
@rami-a , I am facing this issue with web too when running locally.

[2021-03-02 15:54] guidezpl commented on #447
Yeah, I reproed

[2021-03-02 15:57] Alabhya268 commented on #447
![Screenshot from 2021-03-02 21-24-22](https://user-images.githubusercontent.com/57143358/109675672-0098df80-7b9e-11eb-95e5-e656c5c03669.png)

It's showing different error on web.

[2021-03-04 00:53] leonsenft opened #449 "[Crane] Resize on desktop causes content to disappear"
**Describe the bug**
Resizing the window on the Crane app on desktop causes the content to disappear and be replaced with gray. There are _no_ errors in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gallery.flutter.dev/#/crane on desktop.
2. Resize the window.
3. The content is replaced with gray.

**Expected behavior**
The content resizes as expected.

**Screens

[2021-03-04 09:10] guidezpl commented on #449
Thanks for filing. It's likely due to the same cause as https://github.com/flutter/gallery/issues/447

[2021-03-04 12:10] woprandi opened #450 "Scroll too slow on Firefox"
Open https://gallery.flutter.dev/#/ with Firefox and try to scroll : it's too slow.
User agent :` Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0`

[2021-03-04 13:58] guidezpl commented on #450
Thanks for reporting. Closing in favor of the upstream issue https://github.com/flutter/flutter/issues/75850

[2021-03-04 13:58] #450 closed

[2021-03-04 15:02] guidezpl commented on #447
Found the upstream issue, https://github.com/letsar/flutter_staggered_grid_view/pull/154. I'll wait a bit for this fix, otherwise downgrade `flutter_staggered_grid_view`

[2021-03-05 00:38] rish07 commented on #418
@RedBrogdon Any idea when this can be implemented?

[2021-03-05 20:56] xster opened #452 "Pub get fails on gallery head and stable flutter"
Flutter is at

[code]

Running flutter pub get on 4bd1b86 returns

[code]

[2021-03-06 20:52] Josua2012 opened #453 "Problems creating flutter gallery for windows 10 Pro 20H2"
Hi,

I have followed all the steps to create the application on windows:
**flutter channel master
flutter upgrade
flutter config --enable-windows-desktop
flutter create .
flutter run -d windows**
But the last step (**flutter run -d windows**) produces a lot of errors.
I have done the whole process in the Visual Studio Code Terminal.
Errors:

ojects\gallery\build\windows\flutter\flutter_assemble.vc

[2021-03-08 19:09] clocksmith commented on #354
The flutter.dev compilation jank tutorial gives the old gallery as an example. It is not a reusable package, but this gallery may need to do something like this: https://github.com/flutter/flutter/blob/master/dev/devicelab/lib/tasks/perf_tests.dart#L746

The page also says to generate one set of shaders for android and one set for ios, but it does not say to generate versions from different androi

[2021-03-09 06:18] arsan-official commented on #383
it's works ...

[2021-03-09 07:07] kakzaki commented on #383
you can change <item android:drawable="?android:colorBackground" /> to <item android:drawable="@android:color/white" />

[2021-03-10 20:07] lukaszciastko opened #456 "The 'Text fields' title in Cupertino examples is truncated on iPhone 12 Pro Max"
The 'Text fields' App Bar title is truncated on an iPhone 12 Pro Max:

![simulator_screenshot_577B541B-652A-4E8E-B21E-046A498EE90C](https://user-images.githubusercontent.com/964414/110690570-61e73100-81e4-11eb-87e5-f9aac2263399.png)

I can reproduce this issues on both an actual device and on a simulator.

I tried on iPhone 12 and iPhone 12 Pro, but there is no problem with these devices:

![simul

[2021-03-11 05:12] vinayk29 opened #457 "Navigation from trackpad"
whenever try to navigate using the trackpad in MacBook, it is not responding

[2021-03-14 20:37] ferhadquluzade commented on #383
hi thanks it worked

[2021-03-15 20:16] samiuelson commented on #457
Same on my browser. Is it a missing feature of Flutter Web or is it blocked in this app?

[2021-03-16 03:59] vinayk29 commented on #457
its happening in both windows as well as in macOS I Guess its a issue with
flutter web because I tried same thing on flutterplasma.dev which is also
designed by flutter web by same issue is happening with it.

On Tue, Mar 16, 2021 at 1:47 AM Samuel Urbanowicz ***@***.***>
wrote:

[2021-03-16 13:10] hitokiri82 commented on #452
I ran into the same issue. Changing to flutter master instead of stable fixed it:
[code]

[2021-03-17 19:29] wmww opened #459 "Fallback 'C' locale does not work"
- OS: Linux (Ubuntu, Ubuntu core and Arch)
- Version: gallery master (at time of posting) built against Flutter master (at time of posting).

On Linux, when the `LC_ALL` environment variable is set to something unexpected it falls back to locale 'C'
[code]
However, it then prints a long stack trace:
<details>
 <summary>Stack trace</summary>

[code]
</details>

...and fails to draw much of anything

[2021-03-17 20:13] HansMuller commented on #459
CC @shihaohong

[2021-03-18 08:10] shihaohong commented on #459
Interesting -- I'm not very familiar with Linux development, but from really quickly looking [StackExchange](https://unix.stackexchange.com/questions/87745/what-does-lc-all-c-do), it seems like `LC_ALL=C` basically sets up all applications to use the default locale.

However, if that's the case, then it seems like the Flutter framework is doing the wrong thing and passing up that constant `C` inst

[2021-03-23 00:38] shihaohong opened #462 "[i18n] Some of the translations incorrectly handle placeholder values"
When generating translations for the gallery, the translations are pulled from Google's translation console. We handle placeholders within translated `String`s by interpolating variables into them from the application code. However, some of the translations incorrectly have the names of the variables translated as well, which would result in a bad string:

Example:
In the arb file, "അടുത്തറിയുക {ല

[2021-03-25 15:44] guidezpl commented on #452
Using the flutter master channel is by design, see the README.

[2021-03-25 15:44] #452 closed

[2021-03-25 15:45] guidezpl commented on #453
Could you do a `flutter pub get` before running? Your `flutter doctor -v` could also be useful

[2021-03-25 15:46] guidezpl commented on #457
Can you provide more details? gallery.flutter.dev works fine on my macbook + touchpad

[2021-03-25 16:00] Josua2012 commented on #453
@guidezpl
I have made `flutter pub get` as you have indicated.

When I try to run the app, the following error now occurs in DEBUG CONSOLE:
----------------------------------------------
[code]
----------------------------------------------
[code]

How can i solve this problem?

Thank you very much for the help.

Regards,

[2021-03-25 16:05] samiuelson commented on #457
@guidezpl Are you able to perform the "back" or "forward" navigation on [gallery.flutter.dev](gallery.flutter.dev) using touchpad / trackpad gestures? It's not working in Chrome at least.

[2021-03-25 16:07] guidezpl opened #463 "Re-enable web benchmarks"
It seems Chrome 89 brought a change that causes the benchmarks to fail.  To enable development, they've been disabled.

[2021-03-25 16:13] guidezpl commented on #453
The gallery runs off the master channel
[code]

should do the trick.

[2021-03-25 16:13] #453 closed

[2021-03-25 16:16] guidezpl commented on #457
Ah I understand now. There's an open issue you can follow (and upvote to indicate interest) https://github.com/flutter/flutter/issues/23604. Therefore, I'll close this one.

[2021-03-25 16:16] #457 closed

[2021-03-25 16:22] Josua2012 commented on #453
@guidezpl,
I had switched back to the stable channel for other projects.
After switching to the master channel and doing 'flutter pub get' it has worked.
Thanks a lot.
Now I have found an error that I put it in a new ticket.

[2021-03-25 16:28] Josua2012 opened #465 "Failed assertion: line 6057 pos 12: 'child == _child': is not true. [Windows Desktop]"
The problem can be seen in 'Crane' when resizing the application window.
Check out the following video:
https://recordit.co/EbiW4JADns

Regards,
Jose A.

[2021-03-25 16:54] guidezpl commented on #465
Thanks for filing! This will be fixed by https://github.com/flutter/gallery/pull/451

[2021-03-25 19:17] #447 closed

[2021-03-25 19:17] #449 closed

[2021-03-25 19:17] #465 closed

[2021-03-29 16:45] #462 closed

[2021-04-06 05:53] Mister-Hope opened #471 "Schedule for releaseing new versions"
The lastest release was on 18 Sep 2020.

I am wondering if a version taget with null safety could be realesed, And if a release schedule could be made (E.g.: Automatically release a version building with newest code on 1st of each month)

[2021-04-06 09:16] guidezpl commented on #471
That's a good suggestion! In my spare time, I've been working on automating releases. I have fastlane deployments left to do, after which the release cadence will become regular. As for null safety, the gallery actually hasn't yet been migrated.

[2021-04-08 02:27] caveligh commented on #383
it's works ... Thanks

[2021-04-08 15:58] agwanyaseen opened #472 "Error "Unexpected child "deferred-components" found under "flutter". ""
**Describe the bug**
Whenever I am trying to run flutter run -d chrome or trying to run project I get error saying

*Unexpected child "deferred-components" found under "flutter".*
*Please correct the pubspec.yaml file at D:\yaseen\gallery\pubspec.yaml*

![image](https://user-images.githubusercontent.com/37746694/114058645-46d61280-98b1-11eb-8c02-074a469cd6e3.png)

[2021-04-09 13:09] agwanyaseen commented on #472
Thanks Working

[2021-04-09 13:13] agwanyaseen commented on #472
Sorry Still Same issue exits

[2021-04-09 13:13] agwanyaseen commented on #472
$ flutter run -d edge
Error detected in pubspec.yaml:
Unexpected child "deferred-components" found under "flutter".
Please correct the pubspec.yaml file at C:\Users\yaseen.agwan\source\repos\gallery\pubspec.yaml

[2021-04-09 23:37] guidezpl commented on #472
Could you provide the logs from `flutter doctor -v` and `flutter run -d edge`?

[2021-04-12 12:37] DhavalRKansara commented on #472
I am also facing the same issue.

[2021-04-12 14:17] guidezpl commented on #472
Any logs would be welcome :)

[2021-04-12 14:20] DhavalRKansara commented on #472
I have cloned [Flutter Gallery](https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel) project, and getting below error while running pub get.

**Error:**
[code]

Flutter doctor --verbose:

[code]

[2021-04-12 15:22] agwanyaseen commented on #472
@guidezpl

C:\Users\yaseen.agwan\source\repos\gallery>flutter run --verbose
[ +694 ms] executing: [C:\flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[+2865 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +1 ms] b1395592de68cc8ac4522094ae59956dd21a91db
[   +1 ms] executing: [C:\flutter/] git tag --points-at b1395592de68cc8ac4522094ae59956dd

[2021-04-13 01:27] nujnay commented on #472
Same Issue

[2021-04-14 06:01] guidezpl commented on #472
@DhavalRKansara Your Flutter is on the stable channel. As mentioned previously, the gallery runs off the master channel, to which you can switch with

[code]

@agwanyaseen It looks like you're also using the stable channel.

[2021-04-14 06:37] agwanyaseen commented on #472
Changing to Master , worked for me.
Thanks @guidezpl

[2021-04-14 06:37] #472 closed

[2021-04-15 02:39] richard457 opened #475 "Show us how to use package like firebase_core"
I used firebase_core and could not make it be used conditionally for example windows are not supported. so how Can I only use it when on a supported platform without branching

[2021-04-15 02:42] richard457 commented on #475
This is for real-world use, also would be happy to know if it is possible to build .exe file for windows.

[2021-04-15 05:07] guidezpl commented on #475
We don't have plans to add `firebase_core` (it's an offline-first app) so I'll close this. Nonetheless, this is a good question so I recommend asking on StackOverflow or the [Discord](https://github.com/flutter/flutter/wiki/Chat)

[2021-04-15 05:07] #475 closed

[2021-04-16 09:06] zeplee commented on #472
just want to keep a stable branch to run flutter stable

[2021-04-18 11:07] BLitzMe commented on #350
@rohan-kadkol this didn't solve the problem for me

[2021-04-18 11:09] BLitzMe commented on #350
You might need to restart your IDE to remove the squiggly lines

[2021-04-19 13:47] #383 closed

[2021-04-22 08:16] yangsmith opened #481 "build use Android studio error"
build  use Android studio  error

Error detected in pubspec.yaml:
Unexpected child "deferred-components" found under "flutter".
Please correct the pubspec.yaml file at I:\MyDevelopProject\gallery\pubspec.yaml

[2021-04-22 12:22] ChenSC0392 commented on #481
please follow Readme.md

[2021-04-23 05:30] #481 closed

[2021-04-28 15:23] guidezpl commented on #471
Closing since this is now set up, there will be more regular releases 🚀

[2021-04-28 15:23] #471 closed

[2021-05-02 08:58] pepijndevos opened #495 "Hosted gallery inaccessible with TalkBack"
**Describe the bug**

I was trying to evaluate Flutter for performance and accessibility, and when visiting the gallery on my phone, besides being disappointing in the performance,  I could not access the app at all. This seems like an obvious bug.

**To Reproduce**
Steps to reproduce the behavior:
1. On an Android phone go to settings->accessibility and enable TalkBack
2. Go to https://gallery.fl

[2021-05-12 17:51] wffurr opened #499 "Text in most web demos is not selectable"
Most of the text in the examples on https://gallery.flutter.dev/ is not selectable, contra typical web pages where most text *is* selectable, unless the site author has deliberately disabled text selection.

It's a bad look that the Flutter web demos don't have selectable text by default.

[2021-05-14 15:54] fede1295 opened #500 "Not working black screen"
For me this project not working with flutter web..
Always the same errors:
- Black Screen
- Finished with error: HttpException: Content size below specified contentLength.  0 bytes written but expected 1225., uri = /main_module.bootstrap.js

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 2.3.0-2.0.pre.206, on Ubuntu 20.04.1 LTS 5.4.0-73-generic, locale en_

[2021-05-17 08:52] guidezpl commented on #500
Is there a longer stack trace associated with that error?

[2021-05-17 10:54] fede1295 commented on #500
[  +72 ms] DwdsInjector: Received request for entrypoint at http://localhost:38105/main_module.bootstrap.js
[        ] MetadataProvider: Loading debug metadata...
[   +6 ms] MetadataProvider: Loaded debug metadata (no sound null safety)
[   +2 ms] DwdsInjector: Injected debugging metadata for entrypoint at http://localhost:38105/main_module.bootstrap.js
Finished with error: HttpException: Content

[2021-05-17 11:03] guidezpl commented on #500
Hmm I'm going to transfer this issue to flutter/flutter for help

[2021-05-19 02:52] zhhding opened #504 "cupertino_segmented_control_demo Container not work"
file :cupertino_segmented_control_demo
row:87
child: children[currentSegment] = > child: children[currentSegment.value]

[2021-05-19 08:44] MrBirb commented on #495
@yjbanov Does your PR address this one as well?

[2021-05-19 16:56] #504 closed

[2021-05-21 02:00] seanyuan12 commented on #472
Why？

[2021-05-21 05:49] agwanyaseen commented on #472
Since Deferred Components are in stable, these projects should now run with flutter stable sdk.

[2021-05-22 21:11] c-val opened #507 "Gallery fails to build"
**Describe the bug**
I ran the commands specified on GitHub to build on master. Below error happens and the build fails.

To switch channel run:
[code]
(DONE)

**Flutter doctor**
Copy and paste the output of `flutter doctor -v` here

[code]

**To Reproduce**
Steps to reproduce the behavior:
flutter channel master
flutter upgrade
cd gallery/
flutter config --enable-macos-desktop
flutter create .
fl

[2021-05-24 19:15] guidezpl commented on #507
I believe the generation of localizations happens during `flutter pub get`, so try running `flutter pub get` after `flutter create .` and before `flutter run...`

[2021-05-25 10:04] c-val commented on #507
It WORKED !
Thank you !!!
I am surprised, the terminal displays a `"flutter pub get"` command when I run `"flutter create ."`

[2021-05-25 13:41] guidezpl commented on #507
Great, there might be some ordering issue. Anyway, I've updated the instructions and I'll close this

[2021-05-25 13:41] #507 closed

[2021-05-26 06:45] am1993421 opened #514 "How to run this project?help me please!"
![image](https://user-images.githubusercontent.com/13111596/119614391-d0757b80-be30-11eb-9787-5b1d1809aea0.png)

i want to run this project to simulator.
but have a fail.who can help me.thanks!

[2021-05-26 06:46] am1993421 commented on #514
W/art     ( 1588): Method processed more than once: java.lang.Object io.flutter.plugin.common.StandardMessageCodec.readValueOfType(byte, java.nio.ByteBuffer)

[2021-05-26 07:25] twovs opened #515 "is colorsTeal named 蓝绿色 in zh?"
https://github.com/flutter/gallery/blob/master/lib/l10n/intl_zh.arb
https://github.com/flutter/gallery/blob/master/lib/l10n/intl_zh_CN.arb
"colorsCyan": "青色",
"colorsTeal": "青色",

https://github.com/flutter/gallery/blob/master/lib/l10n/intl_zh_HK.arb
"colorsCyan": "青藍色",
"colorsTeal": "藍綠色",

https://github.com/flutter/gallery/blob/master/lib/l10n/intl_zh_TW.arb
"colorsCyan": "青色",
"colorsTeal": "

[2021-05-26 08:30] guidezpl commented on #514
Can you please provide the output of `flutter doctor -v`?

[2021-05-26 11:12] am1993421 commented on #514
![image](https://user-images.githubusercontent.com/13111596/119649910-c619a880-be55-11eb-9981-e52d32bf2033.png)

this is run flutter doctor -v output result.
i try another plaform can run on the chrome,but can't run android simulator.help me!

[2021-05-26 11:17] guidezpl commented on #514
Thanks, it may be that specific emulator. Could you do

`flutter clean`
`flutter run -d mumu -v`

[2021-05-26 11:23] am1993421 commented on #514
![image](https://user-images.githubusercontent.com/13111596/119651679-d6328780-be57-11eb-9f92-449d965cf8fa.png)

still Black screen

[2021-05-26 11:30] am1993421 commented on #514
![image](https://user-images.githubusercontent.com/13111596/119652323-86a08b80-be58-11eb-857f-a7d1af6f039e.png)
![image](https://user-images.githubusercontent.com/13111596/119652455-b5b6fd00-be58-11eb-9418-970ac9d9031f.png)

oh！i konw how to solve this problem.
need edit configurations like this.but i dont know why add this config can solve this problem.do you know?thanks

[2021-05-26 11:40] guidezpl commented on #514
I've never seen `--enable-software-rendering` before, but glad it worked!

[2021-05-26 11:40] #514 closed

[2021-05-26 18:12] ueman opened #517 "Link from Google Play `What's new` section does not work"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://play.google.com/store/apps/details?id=io.flutter.demo.gallery in the Google Play app, not the website.
2. Open the `What's new` section.
3. Click on the link
3. See error. It links to `https://github.com/flutter/gallery/releases.` instead of `https://github.com/flutter/gallery/releases`.  Please note the `.` a

[2021-05-27 05:17] guidezpl commented on #517
Thanks for filing!

[2021-05-27 05:17] #517 closed

[2021-05-27 16:49] guidezpl opened #518 "Re-enable deferred loading"
When https://github.com/flutter/engine/commit/e1204944f5ef14a7e57d506cacf7ab63f6e8a98f makes it to flutter/flutter, re-enable deferred loading in Fastfile

[2021-05-30 19:49] louis97 opened #519 "Navigation Tabs in Crane do not work as expected."
**Describe the bug**
The user enters the Crane demo app and tries to navigate through the navigation components available on the screen (FLY, SLEEP and EAT), but the lists that are supposed to be shown are not present. A similar bug, related to Crane, was already reported in their github repo on the 14th of April by willarche. [599770849](https://github.com/flutter/gallery/issues/99#issue-59977084

[2021-05-31 12:37] guidezpl commented on #519
This isn't reproducible in the current version. Can you provide the output of `flutter run -v ...`?

[2021-06-14 11:06] LastLightSith commented on #161
Tested On KDE/X11/Archlinux with i7-8565U and Android 10 Sandragon 655 which are reasonably good hardware.
Defiantly not smooth 60 fps as advertised

[2021-06-15 08:21] iLoveDocs commented on #161
There's no benefit in leaving a comment if you can't upvote the issue

@mthan160
@kafein
@federico-terzi
@pepijndevos
and
@LastLightSith

[2021-06-16 20:06] Piinks opened #523 "Auto-Scrollbars on Desktop are disabled"
By default on desktop, scrollbars are applied by the ScrollBehavior. This has been disabled in the gallery app. All vertical scrollables in the gallery need to be audited before enabling this feature.
Any that are vertical without a specified scroll controller automatically attach to the primary scroll controller. This causes issues when interacting with scrollbars because they are all trying to u

[2021-06-16 20:12] Piinks commented on #523
I think first, this should move from here:

https://github.com/flutter/flutter/blob/430bfac41cb5df6b485c3abcb598e9b82e21669c/packages/flutter/lib/src/widgets/scrollbar.dart#L1039

to here:

https://github.com/flutter/flutter/blob/430bfac41cb5df6b485c3abcb598e9b82e21669c/packages/flutter/lib/src/widgets/scrollbar.dart#L1345

[2021-06-16 20:19] Piinks commented on #523
Actually, maybe not. Still investigating.

One aspect of this issue is that it should be valid that a scrollbar is interactive, but just not interactive *right now*. For example, when the scrollbar is not *visible* and the scroll controller has more than one position attached (maybe we are in the middle of a transition between tabs and the PrimaryScrollController is attached to scroll views in bot

[2021-06-16 21:42] Piinks commented on #523
related: https://github.com/flutter/flutter/issues/84735

[2021-06-16 23:22] Piinks commented on #523
There are a lot of scrollables in the gallery app that are causing this type of crash. I am going to disable the auto-generated scrollbars so that this crash will be mitigated while we update the gallery app for this feature.

[2021-06-16 23:26] Piinks commented on #523
Related: https://github.com/flutter/gallery/issues/53

[2021-06-18 09:14] mraleph opened #899 "building gallery for Android with local engine fails"
(Note: assuming that https://github.com/flutter/gallery/pull/525 is landed. Otherwise you first need to apply that on top)

[code]

/cc @blasten

[2021-06-23 09:30] TeWuJia opened #526 "pub get failed on Tag v2.9.2 and commit 13dfbbf"
my flutter doctor detail:

[✓] Flutter (Channel stable, 2.2.2, on macOS 11.4 20F71 darwin-x64, locale zh-Hans-CN)
    • Flutter version 2.2.2 at /Users/mac/Documents/flutter
    • Framework revision d79295af24 (12 天前), 2021-06-11 08:56:01 -0700
    • Engine revision 91c9fc8fe0
    • Dart version 2.13.3
    • Pub download mirror https://pub.flutter-io.cn
    • Flutter download mirror https://storag

[2021-06-23 09:59] guidezpl commented on #526
Hi, please see https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel

[2021-06-23 09:59] #526 closed

[2021-06-24 02:36] TeWuJia commented on #526
Thank you and it worked！

[2021-06-24 17:29] richard457 opened #527 "Migrate to null safety"

[2021-06-24 18:27] Piinks commented on #523
I am not going to be actively working on this migration right now, so I am going to un-assign myself. If any one else would like to take this on in the meantime, feel free to reach out. I am happy to provide guidance.

[2021-07-01 18:48] akmadan opened #529 "Code provided for widgets is not selectable | Only has Copy All Button"
Instead of Copy All Button, Code should be selectable so that required code can be copied.

[2021-07-01 18:51] akmadan opened #530 "Pull to Refresh does not work in Demo"
The Demo Provided here does not work on pulling the screen down - https://gallery.flutter.dev/#/demo/cupertino-pull-to-refresh

[2021-07-22 15:08] ferraridamiano opened #534 "Quit on launch"
I'm using Ubuntu 21.04 on an AMD laptop (Ryzen 5 4500U), I installed the app from the snap store. When I open the app it immediately closes. If I launch it from the command line, it gives me the following error:

[code]

I tried to compile the app source code and it works. It seems to be related to the publishing package. I have the same problem with my flutter app. And [some of my users report th

[2021-07-27 09:17] ramamurthigayatri opened #535 "Build Errors"
**Describe the bug**
Getting this error while building/running Master channel on android.

lib/demos/material/picker_demo.dart:23:9: Error: Type 'RestorableTimeOfDay' not found.
  final RestorableTimeOfDay _fromTime = RestorableTimeOfDay(
        ^^^^^^^^^^^^^^^^^^^
lib/demos/material/picker_demo.dart:23:9: Error: 'RestorableTimeOfDay' isn't a type.
  final RestorableTimeOfDay _fromTime = Restorab

[2021-07-27 15:14] guidezpl commented on #535
Looks like you're on the stable channel, see the README to switch channels

[2021-07-27 15:14] #535 closed

[2021-08-04 12:48] #337 closed

[2021-08-05 10:25] RichardJECooke opened #536 "Change your 'send feedback' link to stop pointing to Flutter"
Your send feedback link on https://gallery.flutter.dev/#/ points to the Flutter github issues, incorrectly. I logged an issue here and was told it was the wrong forum. Change the link please

[2021-08-05 10:26] RichardJECooke opened #537 "Put a scrollbar on your website"
https://gallery.flutter.dev/#/

There is no scroll bar and pushing page down key doesn't do anything. Your page is broken

[2021-08-13 11:55] chaudharydeepanshu commented on #383
This issue is due to the fact that the bitmap tag in launch_background doesn't support xml files which was being used for adaptive icon in android so replace launch_background.xml code in drawable:
from this
[code]
to this
[code]

This will work for the splash screen now.

credits: [this blog post](https://bignerdranch.com/blog/splash-screens-the-right-way/)

[2021-09-07 09:39] ilovesusu opened #540 "Manjaro Linux Fonts Is Square"
OS:Manjaro Linux
Releases :Flutter Gallery v2.9.2
![2021-09-07_17-39](https://user-images.githubusercontent.com/12681726/132322716-f6c46ef3-c1a9-4c5f-8921-f07b9e7d973c.png)

[2021-09-07 09:46] guidezpl commented on #540
Can you please provide the output of `flutter doctor -v`? Also, if you open the settings in the upper right, which locale is selected?

[2021-09-08 22:21] Piinks opened #541 "Shrine crashes when scrolling on desktop"
Shrine crashes when you scroll on desktop. This is caused by the scrollbars that are automatically applied on desktop platforms. There are scroll views in Shrine that are all using the same scroll controller, so when it tries to draw one scrollbar for all of those scroll views it crashes.

This is most likely due to the PrimaryScrollController. All **_vertical_** scroll views that have not been pr

[2021-09-08 22:34] Piinks opened #543 "Shrine breaks on desktop window resizing"
Resizing desktop windows for the Shrine demo breaks the app.
I have found this happens in two ways so far, when starting from a small screen and then making the screen larger, and vice versa.

The app might benefit from the new ScrollMetricsNotification, it allows you to listen to changes in window size etc.

See video:

https://user-images.githubusercontent.com/16964204/132594396-fe4b79ed-e3f3-46

[2021-09-08 22:54] #541 closed

[2021-09-11 04:19] ilovesusu commented on #540
![1234578](https://user-images.githubusercontent.com/12681726/132935979-a8ba387c-48a2-4297-9d3c-1f346cf9c9e5.png)

[2021-09-14 11:42] guidezpl opened #545 "Deferred components causes release builds to fail"
`flutter build appbundle -v --no-deferred-components` successfully completes, whereas
`flutter build appbundle -v` fails:
[code]

[2021-09-14 11:44] guidezpl commented on #518
Re-opening, pending resolution for #545

[2021-09-14 11:52] guidezpl commented on #540
`zh_CN` is a locale supported by the gallery, but yours is `zh_UTF-8_CN`. Hence all translantable strings are not rendered correctly. @HansMuller Do you know who might be best able to help with this issue?

[2021-09-14 18:40] GaryQian commented on #545
cc @rmacnak-google gen_snapshot seems to be segfaulting with -6. There have not been any gallery changes and I am still bisecting when this began to occur. It seems to happened beyond a week ago.

[2021-09-16 18:21] zs-dima opened #548 "iOS Build and Sign GitHub Action"
Could be nice to add iOS Build, Sign and Publish to Apple Store GitHub Action example the same as Android example:

https://github.com/flutter/gallery/tree/master/.github/workflows

[2021-09-16 19:12] rami-a commented on #548
Thanks for the suggestion @zs-dima. Unfortunately, we've run into issues in the past with trying to publish the gallery to the app store. According to Apple, it does not fit within the app store guidelines, so we've been unable to publish it there.

It should be pretty straightforward to build on iOS locally as an alternative. Sorry for the inconvenience!

[2021-09-16 19:27] zs-dima commented on #548
@rami-a it could be nice to add build with signing at least as example for developers

[2021-09-16 19:44] zs-dima commented on #548
It is nice example project, but it looks incomplete without building iOS example .

[2021-09-16 20:26] rami-a commented on #548
I see. @guidezpl is that something we could add?

[2021-09-17 07:37] guidezpl commented on #548
That's not a bad idea, I'll keep this issue open. In case anyone is looking for instructions, see https://flutter.dev/docs/deployment/cd#fastlane

[2021-09-17 09:11] zs-dima commented on #548
@guidezpl thanks a lot
I do not sure fastlane the best solution for the GitHub actions, at least you do not use it for Android.
But will be glad to see sample implementation.

[2021-09-17 09:19] guidezpl commented on #548
We do, actually https://github.com/flutter/gallery/blob/master/.github/workflows/deploy_play_store.yml#L16

[2021-09-22 10:11] #499 closed

[2021-09-22 10:11] #529 closed

[2021-10-04 23:37] munoz0raul opened #549 "Build error for linux with Fluttler eLinux"
Hello, I'm trying to build this demo for ARM64 inside a debian container but I'm having this issue:

[code]

[2021-10-05 14:43] guidezpl commented on #549
Hi, I suspect you're on a channel other than master since I added that API recently. Please see https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel and reopen if you run into another issue

[2021-10-05 14:43] #549 closed

[2021-10-05 15:36] munoz0raul commented on #549
Just to let you know, the error above just happen with the version: `426287b33df1b45168737779a6d0f23e73666be2`

With the previous one worked well: `312e0cbd271c5da57256f874ae45f87d15103890`

[2021-10-11 02:30] SITARAM-LAB opened #550 "in Reply APP back button takes directly to home page of gallery , not to the previous screen of reply app please give a workaround"
in Reply APP back button takes directly to home page of gallery , not to the previous screen of reply app please give a workaround.

Regards,
Atul

[2021-10-11 13:13] rami-a commented on #550
Hello, thanks for filing this. I think this is working-as-intended however. The Back button is meant to get you out of the sample app. To go to the previous screen in reply there is a little icon in the top (a down arrow when looking at an email, an X when composing an email).

[2021-10-11 13:13] #550 closed

[2021-10-15 09:19] nerkn opened #551 "where to start reading code?"
I'm new to flutter and want to read some code, where is the main code is laid?

In the readme file, authors should point, **this file** is main file, flutter first initializes **this**. But for android you should write kotlin file, which resides in **that** directory

I skimmed through directories, windows, linux, android, etc,  but couldnt find any main/first/app file.

[2021-10-15 12:48] guidezpl commented on #551
Hi, if you're just getting started I can recommend https://flutter.dev/docs/get-started/codelab and the following codelabs to gain familiarity with Flutter apps. The entrypoint is always `lib/main.dart`. If you have further questions, the best place for that is the Discord (e.g. https://discord.com/channels/608014603317936148/608021635370582020)

[2021-10-15 12:48] #551 closed

[2021-10-21 07:19] Zazo032 opened #552 "`CupertinoPicker`s don't respond to mouse click events"
## Steps to Reproduce

1. Go to https://gallery.flutter.dev/#/demo/cupertino-picker (desktop web)
2. Open any picker
3. Try to change the value by clicking with the mouse

**Expected results:** I can rotate the wheels of the picker
**Actual results:** Nothing moves

<details>
  <summary>Logs</summary>

[code]

</details>

[2021-11-04 11:18] ilovesusu commented on #540
Maybe I did not install fonts? ! But I don’t know what font is needed
It is also possible that the font currently in use does not support Chinese? !

[2021-11-04 11:30] guidezpl commented on #540
<img width="1166" alt="Screen Shot 2021-11-04 at 12 28 14" src="https://user-images.githubusercontent.com/6655696/140306031-fea243ba-10ac-4d51-a190-0bf33ad24bf6.png">

The font is supported (this is on web), so this might be a Linux issue. The best thing to do would be to create a simple reproducible sample `flutter create` and create a bug on https://github.com/flutter/flutter

[2021-11-05 21:55] GaryQian commented on #545
cc @rmacnak-google Have you had a chance to look at this?

[2021-11-15 13:22] maheshmnj opened #558 "Gallery app fails to build on Android"
**Describe the bug**
The gallery app fails to run on Android on the latest master/stable channel.

**Flutter doctor**

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

**To Reproduce**
Steps to reproduce the behavior:
1. switch to flutter master channel
2. flutter clean
3. `flutter run` or `flutter build apk`

**Expected behavior**
The app runs /builds apk

<details>
<sum

[2021-11-15 13:25] maheshmnj commented on #558
cc: @guidezpl

[2021-11-15 16:22] guidezpl commented on #558
Hi, this might be a dupe of #545 , can you try building with `--no-deferred-components`?

[2021-11-16 03:59] maheshmnj commented on #558
Looks like `--no-deferred-components` isn't available for building an apk or running the android app

[code]

[2021-11-21 21:24] andreidiaconu commented on #558
You can either regenerate the lockfiles to get your build to work again with your current flutter version or you can use the latest flutter master.

[2021-11-21 21:28] andreidiaconu commented on #558
To regenerate the lockfiles the gradle command should be `./gradlew :generateLockfiles` or if that does not work, you could use `./gradlew app:dependencies --write-locks` with `app` being the gradle sub project you need to generate the lockfiles for.

[2021-11-23 06:46] maheshmnj commented on #558
Thanks, @andreidiaconu, upgrading to the latest `master, 2.6.0-12.0.pre.789` seems to have fixed the issue I was able to run the app in debug mode, But the app failed to generate a release apk due to missing keys probably that's intended.

Execution failed for task ':app:validateSigningRelease'.

Feel free to close the issue if you think this issue is resolved.
Thanks, everyone.

[2021-11-23 11:05] guidezpl commented on #558
Great! And yes, that's intentional

[2021-11-23 11:05] #558 closed

[2021-11-26 08:56] guidezpl commented on #545
Hey wondering if there's an update on this?

[2021-12-03 03:13] jwinarske opened #561 "Build break channel dev"
**Describe the bug**

Build break introduced with https://github.com/flutter/gallery/pull/560

Flutter Channel `dev`

[code]

[2021-12-03 22:40] guidezpl commented on #561
Hi, this is working as intended https://github.com/flutter/gallery#running-flutter-gallery-on-flutters-master-channel

[2021-12-03 22:40] #561 closed

[2021-12-09 07:57] guidezpl commented on #217
Closing for the same reason as upstream

[2021-12-09 07:57] #217 closed

[2021-12-09 07:57] #356 closed

[2021-12-09 07:57] #365 closed

[2021-12-09 07:58] #552 closed

[2021-12-09 08:04] #135 closed

[2021-12-09 08:05] #162 closed

[2021-12-09 08:07] guidezpl commented on #167
Closing in favor of flutter/flutter#76478

[2021-12-09 08:07] #167 closed

[2021-12-09 08:08] guidezpl commented on #229
Hey Dan, was this on a mobile or desktop device. IIRC, most assets were designed to look nice on desktop, leading them to be oversized on mobile

[2021-12-09 08:10] #235 closed

[2021-12-09 08:10] #250 closed

[2021-12-09 08:14] #336 closed

[2021-12-09 08:16] #372 closed

[2021-12-09 08:18] #421 closed

[2021-12-09 08:22] guidezpl commented on #459
Should be fixed by https://github.com/flutter/gallery/pull/556, please re-open if not

[2021-12-09 08:22] #459 closed

[2021-12-09 08:22] guidezpl commented on #463
Hey @pennzht could you take a look? Benchmarks aren't currently running

[2021-12-09 08:24] #519 closed

[2021-12-09 08:26] guidezpl commented on #534
This seems to a flutter-wide issue, please open an issue with all this useful information at flutter/flutter

[2021-12-09 08:26] #534 closed

[2021-12-09 08:28] guidezpl commented on #537
There is now a scrollbar which appears based on platform expectations (e.g. on macOS, fades in when scrollling, then fades out)

Please open an issue in the flutter/flutter repo for web scrolling via keys

[2021-12-09 08:28] #537 closed

[2021-12-09 08:29] guidezpl commented on #540
This might be fixed by #556. If not, please reopen

[2021-12-09 08:29] #540 closed

[2021-12-09 08:32] #48 closed

[2021-12-09 08:32] #42 closed

[2021-12-09 08:33] #31 closed

[2021-12-09 08:33] #76 closed

[2021-12-09 08:34] #70 closed

[2021-12-09 08:38] #456 closed

[2021-12-09 08:54] #429 closed

[2021-12-09 08:56] #276 closed

[2021-12-09 08:56] #277 closed

[2021-12-09 08:57] #278 closed

[2021-12-09 08:58] #280 closed

[2021-12-09 08:58] #281 closed

[2021-12-09 08:59] #284 closed

[2021-12-09 08:59] guidezpl opened #567 "Reply UI bugs"
- [ ] Removing an email from inbox through the action item, does not animate: When an email is deleted through the action bar located in the MailPreviewCard on larger screens, and the BottomAppBarActionItems on smaller screens, there is no animation to show the email being dismissed from the inbox. The email instantly dissapears.
- [ ] Bottom drawer destinations not visible on devices with small s

[2021-12-09 08:59] #446 closed

[2021-12-09 13:33] ilovesusu commented on #540
no it don't work for me

[2021-12-09 17:42] dnfield commented on #229
I believe I ran this on Desktop, but it's been a little while.

[2021-12-09 20:25] guidezpl commented on #540
I'm unable to reproduce on Linux as well. But if you have reproduction steps, like a small code sample, please let me know of open an issue in the flutter/flutter repo

[2021-12-10 14:12] #37 closed

[2021-12-10 14:26] #536 closed

[2021-12-10 14:31] guidezpl opened #569 "Migrate from integration tests from `flutter_driver` to `integration_test`"
https://docs.flutter.dev/testing/integration-tests/migration

To help with https://github.com/flutter/flutter/issues/64328

See https://flutter.dev/go/flutter-nonhost.

[2021-12-10 14:37] guidezpl opened #570 "Resolve state restoration issues"
In rally, reply, and `restoration_test.dart`

[2021-12-10 15:38] guidezpl commented on #495
@yjbanov Can you take a look? I confirmed the mobile web version is completely inaccessible, even with the latest master https://gallery-staging-flutter-dev.firebaseapp.com/#/

[2021-12-10 22:14] justinmc commented on #353
Looks like these performance issues have disappeared in the last year.  Thanks Flutter web team!  I'm re-enabling scaling for this demo in https://github.com/flutter/gallery/pull/572, and then I think this issue can be closed.

[2021-12-13 14:14] amanv8060 commented on #463
Hi @guidezpl , I have made pr [here](https://github.com/flutter/packages/pull/518) to add the changes introduced, but this pr requires knowledge of setting up the tests from basics, which I don't know . I would be more than happy to read something to get started on writing tests.

[2021-12-16 14:51] lukaszciastko commented on #456
@guidezpl why has this issue been closed? It has not been resolved, and I can reproduce it with the latest Fluter Gallery using the latest iOS.

[2021-12-16 15:30] guidezpl commented on #456
Hi, the issue will be fixed in the next release, see https://gallery-staging-flutter-dev.firebaseapp.com/#/demo/cupertino-text-field

[2021-12-22 16:39] elsamanirais opened #575 "Gallery"

[2021-12-22 17:35] #575 closed

[2021-12-28 00:34] willlockwood opened #576 "[mobile] Odd section open/close behavior on gallery home"
Was just playing around with the gallery app on Android for the first time today, and noticed some strange statefulness of the sections opening and closing. It looks like, after opening/closing one of the individual components from, say, section 3, opening and closing section 2 will cause section 3 to open again.

It's a pretty insignificant issue and mainly just impacts overall impression of qual

[2021-12-30 05:02] Roshani9731 commented on #576
Hy, I want to contribute in this issue can you help me?

[2021-12-30 05:30] willlockwood commented on #576
Sure, what do you need?

[2021-12-30 12:08] guidezpl commented on #576
Sure! I can point you to the likely point of failure: https://github.com/flutter/gallery/blob/master/lib/pages/category_list_item.dart#L152

[2021-12-30 13:07] amanv8060 commented on #527
@guidezpl I am willing to work on this, web_benchmarks need to be migrated first to null safety

[2021-12-30 13:10] guidezpl commented on #527
Hi @amanv8060, we'd love some help on this! IIRC since it is a `dev_dependency`, the gallery can began to be migrated without it

[2021-12-30 14:22] #353 closed

[2021-12-31 10:06] Drwt28 opened #579 "ColorScheme"
colorscheme is not compatible with new version

[2021-12-31 11:52] guidezpl commented on #579
Can you provide your `flutter doctor -v` and give more details?

[2021-12-31 12:41] guidezpl opened #580 "Expand golden tests to other OS'"

[2022-01-04 23:45] macropas commented on #579
@Drwt28
To compile without errors you should replace"primaryContainer"->"primaryVariant" & "secondaryContainer" -> "secondaryVariant" in the all *.dart-files of this application

[2022-01-05 11:42] guidezpl commented on #579
alternatively, `flutter channel master` an `flutter upgrade` :)

[2022-01-05 11:42] #579 closed

[2022-01-06 21:03] csandeep opened #581 "Project does not compile for Android"
Building the project from `master` branch throws errors. Looks like `material.ColorScheme` has changed a bit.

Full error log

[code]

[2022-01-07 09:36] guidezpl commented on #581
Hi, it looks like you're using an old version of Flutter. Please upgrade to the latest version with `flutter upgrade`. `ColorScheme` was changed in https://github.com/flutter/flutter/pull/93427.

[2022-01-07 09:36] #581 closed

[2022-01-18 11:02] cyeh1234 opened #587 "Run in profile mode build Error"
![image](https://user-images.githubusercontent.com/5484253/149925294-92f6f179-4e4f-4cce-bdef-7401ac166e16.png)

[2022-01-18 12:33] #587 closed

[2022-01-18 14:58] cyeh1234 commented on #587
Thanks; sorry I did not read the readMe file.  It built for Channel  Master

It

On Tue, Jan 18, 2022 at 7:33 AM Pierre-Louis ***@***.***>
wrote:

[2022-01-23 09:28] Insha-Siddiquii opened #588 "Deferred Loading PlaceHolder Widget is keep showing even after the Deferred Component is installed"
I have used the Deferred Widget and Deferred Loading placeholder from App Gallery in one of my code. The application runs successfully and load deferred component as well. The problem comes when I upload the application in playstore.

On Playstore, once app is installed and begin to use, it installs and load the deferred component successfully. but when I kill the app from background and load it a

[2022-01-25 07:00] laiiihz opened #589 "would codeviewer_cli publish to pub.dev"
codeviewer_cli is a fantastic tool to highlight dart source code 🤣

[2022-01-29 02:29] caseycrogers opened #590 "Rebuild Triggers a "skip" in the Discrete Slider"
https://github.com/flutter/gallery/blob/4e28f7ab09ee970ba19fbd527a028452a1c259a7/lib/demos/material/sliders_demo.dart#L61
https://github.com/flutter/gallery/blob/4e28f7ab09ee970ba19fbd527a028452a1c259a7/lib/demos/material/sliders_demo.dart#L136

Because the discrete slider is rounded to 40 but it's initial value is 20, the slider has a weird skip on rebuild. The discrete slider's initial value sho

[2022-01-31 13:13] guidezpl commented on #589
cc @pennzht

[2022-02-02 22:50] gisborne opened #591 ""Error: The getter 'primaryContainer' isn't defined for the class 'ColorScheme'." trying to run on MacOS"
Trying to launch on MacOS M1.

[code]

[code]

[2022-02-03 09:55] guidezpl commented on #591
Please read the README

[2022-02-03 09:55] #591 closed

[2022-02-03 20:17] gisborne opened #592 ""Undefined symbols for architecture x86_64" on MacOS"
MacOS 12.2 on a M1 MacBook Air
[code]

[2022-02-03 20:20] gisborne commented on #592
`flutter clean` fixed the issue.

[2022-02-03 20:20] #592 closed

[2022-02-04 07:34] guidezpl opened #593 "Change channel to beta or stable"
Should consider now that development has slowed, we don't have such a great need to use the master channel.

Using stable would mean devs wouldn't have to switch channels (common issue) to run the gallery.

One consideration is that flutter/flutter uses the gallery for tests, and is pinned in two places
* https://github.com/flutter/tests/blob/master/registry/flutter_gallery.test
* https://github.c

[2022-02-04 15:22] jjanku opened #594 "[windows] missing vc redistributables"
Hi! I tried to run the latest Windows release. It fails to start with the error saying that vcruntime140_1.dll is missing. Looking at the CI file, there should probably be something like `working-directory: ${{ matrix.build_path }}` for the following step:
https://github.com/flutter/gallery/blob/5da082d82e2da9f57e396b5a1302dc924c81f83d/.github/workflows/release_draft_github_release.yml#L138-L145

[2022-02-10 02:02] andesappal commented on #548
Hi I just had a request to have on a iOS version of the app I work, a Done and Return button for a multiline text field. Then I realized that your app does not support iOS, even though your README.md says it does support iOS. Why is that? When will you solve the issues to publish the gallery on Apple Store?

[2022-02-10 08:09] breadfruit-tree opened #600 "a little problem when I tap the demo app"
First i starred an email ,then I go to my starred mail。when i try to swipe left the demo item,it crash.
Console log is like that:
======== Exception caught by widgets library =======================================================
The following assertion was thrown building Dismissible-[InboxEmail#69e37](dirty, dependencies: [Directionality], state: _DismissibleState#42939(tickers: tracking 2 tick

[2022-02-10 09:33] guidezpl commented on #548
It supports iOS, it's just not on the app store. We attempted twice but couldn't get the app added to the App Store for reasons in https://github.com/flutter/gallery/issues/548#issuecomment-921174157

[2022-02-10 14:31] andesappal opened #602 "Done with return button on multiline text field for a multiple field form"
Hi @guidezpl. Is it possible to have a done button with a return button for the iOS version? Example:
![image](https://user-images.githubusercontent.com/54340176/153427916-3fbc2864-6c50-49ec-9b15-3bb1030eddf7.png)

Currently on your local iOS build, I get
![image](https://user-images.githubusercontent.com/54340176/153428006-de8e413f-f6b3-47bb-b8ec-fd19988a277d.png)

The done with return button are

[2022-02-14 07:31] lester-osimdev opened #603 "No loading unit to dynamic feature module name found."
Always throwing error `E/PlayStoreDeferredComponentManager: No loading unit to dynamic feature module name found. Ensure 's6.a.loadingUnitMapping' is defined in the base module's AndroidManifest.` when running the app.

Even if added/replace what is recommend from `android_deferred_components_setup_files` which is `<meta-data android:name="io.flutter.embedding.engine.deferredcomponents.DeferredCom

[2022-02-14 09:38] guidezpl commented on #603
@GaryQian

[2022-02-17 01:18] yjbanov commented on #463
@ditman and @amanv8060 just fixed `package:web_benchmarks`. @ditman will attempt to reenable the gallery benchmark now.

[2022-02-17 02:41] ditman commented on #463
Here's the PR reenabling the web benchmarks: https://github.com/flutter/gallery/pull/604

I hope it helps. Thanks to @amanv8060 for the initial fix to `web_benchmarks`!

[2022-02-17 04:19] lester-osimdev opened #605 "Asset only deferred component sample"
Is there any sample in using asset only deferred component ?

[2022-02-17 07:15] #605 closed

[2022-02-17 07:16] #603 closed

[2022-02-17 13:08] spokV opened #606 "Build failed on SchedulerBinding.instance.addPostFrameCallback((_)"
Hi
Just cloned the latest master and perform build on linux machine (fedora 35) using sdk 2.10.1, and I get the following result:

lib/feature_discovery/feature_discovery.dart:224:35: Error: Method 'addPostFrameCallback' cannot be called on 'SchedulerBinding?'
because it is potentially null.
'SchedulerBinding' is from 'package:flutter/src/scheduler/binding.dart'
 ('../flutter/packages/flutter/lib/

[2022-02-19 06:24] amanv8060 commented on #606
Hi,
Thanks for filing issue.
Gallery is currently configured to build against the master channel of flutter.

Discussion regarding making it run with beta/stable is ongoing [here](https://github.com/flutter/gallery/issues/593).

cc/ @guidezpl

[2022-02-22 17:14] #515 closed

[2022-02-23 20:22] #463 closed

[2022-03-03 14:03] pgn625007369 opened #610 "Could not resolve org.jetbrains.kotlin:kotlin-stdlib:1.6.10."
* What went wrong:
Execution failed for task ':package_info_plus:generateDebugRFile'.

     Required by:
         project :package_info_plus

           Dependency path 'io.flutter.plugins.packageinfo:package_info_plus:1.0-SNAPSHOT' --> 'org.jetbrains.kotlin:kotlin-stdlib:1.6.10'
           Constraint path 'io.flutter.plugins.packageinfo:package_info_plus:1.0-SNAPSHOT' --> 'org.jetbrains.kotlin:ko

[2022-03-08 19:01] hpoit opened #613 "Run log: `Null check operator used on a null value`; Dart analysis: `The argument type 'double?' can't be assigned to the parameter type 'num'.`"
Hi I suppose I have migrated all but this block to null safety: https://github.com/flutter/gallery/blob/master/lib/pages/home.dart#L1116-L1120

I tried changing it to:
[code]
which results in no errors on the Dart Analysis, but when I start the app, I get `Null check operator used on a null value`. Could you help me solve this one? Thank you so much!

[2022-03-08 19:07] hpoit commented on #613
More info: `The argument type 'double?' can't be assigned to the parameter type 'num'. (Documentation)
The method 'textScaleFactor' can't be unconditionally invoked because the receiver can be 'null'. (Documentation)  Try making the call conditional (using '?.') or adding a null check to the target ('!').`

I have tried `? ` and `!` but to no avail.

[2022-03-08 19:09] hpoit commented on #613
Do I need a wrap somewhere with `if (textScaleFactor(context) != null) {...}`?

[2022-03-09 08:59] guidezpl commented on #613
Hi, I think `GalleryOptions.of(context)` can be null but not `textScaleFactor(context)` as it should always returns a double. Maybe try `?.`?

[2022-03-09 12:44] hpoit commented on #613
Like this Pierre?
![image](https://user-images.githubusercontent.com/3711100/157444236-af24cd07-7289-4a54-a3cb-cd457ce0c99e.png)

[2022-03-09 12:49] hpoit commented on #613
I have also tried `?` with `!` and `!` but get the same error
![image](https://user-images.githubusercontent.com/3711100/157444879-572d0a5d-1119-46ed-9c6f-a2c5dd3685b8.png)

[2022-03-09 12:54] hpoit commented on #613
Then I tried `BuildContext?` and `_carouselHeight(.7, context!);` and same error
![image](https://user-images.githubusercontent.com/3711100/157445642-5cbf9c86-0156-42d7-bd79-f78f1dfb419c.png)

[2022-03-09 15:06] hpoit commented on #613
I have tried that too
![image](https://user-images.githubusercontent.com/3711100/157468910-14bdc1c7-786b-46f4-81f4-d1962597575e.png)

I think there are other factors at play, let me try to solve it and I'll get back to you, thank you Pierre.

[2022-03-09 15:55] guidezpl commented on #613
Sorry I can't be of much help, this is also a little puzzling to me!

[2022-03-10 10:11] hiwenhu commented on #610
comment  all lines cotains kotlin in any build.gradle. delete all lockfiles that contains kotlin.

[2022-03-10 17:49] tashfeenzaidi commented on #591
getting same error on windows

[2022-03-14 06:52] amanv8060 commented on #613
hi @hpoit, have you been able to solve this?

from what you have posted, it looks like textScaleFactor is returning `double?` which shouldn't be the case.

[2022-03-14 06:54] amanv8060 commented on #606
@guidezpl can this be closed?

[2022-03-14 09:42] guidezpl commented on #606
Yes.

[2022-03-14 09:42] #606 closed

[2022-03-14 19:28] hpoit commented on #613
Hi @amanv8060, I tried your suggestion
![image](https://user-images.githubusercontent.com/3711100/158246493-7a2035a3-6be2-42e3-bb18-64ac13524235.png)

[2022-03-14 19:30] hpoit commented on #613
I was on my way to not using this method, but if there's a way I can keep it, the better.

[2022-03-14 19:31] amanv8060 commented on #613
can you try keeping it in a bracket ?

[2022-03-14 19:43] hpoit commented on #613
Do you mean like this?
![image](https://user-images.githubusercontent.com/3711100/158248723-93e2635e-4e51-4476-80cd-9236f7a4aad4.png)

[2022-03-14 23:56] hpoit commented on #613
If I do `var carouselHeight = _carouselHeightMin;` I get what almost works
![image](https://user-images.githubusercontent.com/3711100/158279745-c68c8ae7-a47c-4360-a77c-297e819c9383.png)

[2022-03-15 00:48] hpoit commented on #613
I now changed to `const _desktopCardsPerPage = 1;` and have

![image](https://user-images.githubusercontent.com/3711100/158284323-80d4db4e-1361-4fe5-9b5a-4bdfcf8f1a16.png)

For my purposes I only have to now increase the card width, but for your original code I think we still haven't solved the issue. I could probably close this issue, however. Let me know. Thanks.

[2022-03-24 16:46] guidezpl commented on #545
friendly ping for an update

[2022-03-29 18:42] blasten opened #622 "Add check that builds the APK"
Currently, there's no check that builds the APK when a commit is pushed to a PR.

This could help prevent issues such as Gradle error messages when a dependency is bumped.

[2022-03-29 19:05] goderbauer commented on #622
Example: https://github.com/flutter/gallery/pull/620 broke the Android build, which was then fixed in https://github.com/flutter/gallery/pull/623.

[2022-03-29 21:27] amanv8060 commented on #622
is adding a job for building apk in test.yaml a good option?

[2022-03-30 09:39] amanv8060 commented on #613
Hi @hpoit, the gallery will be migrated to null safety after #624 lands, can you confirm, if you are still facing any error with null safety.

[2022-03-30 19:22] guidezpl commented on #527
<img width="276" alt="Screen Shot 2022-03-30 at 21 21 56" src="https://user-images.githubusercontent.com/6655696/160914337-3a926e86-92c1-4403-9c71-20bb31d77b3c.png">

[2022-03-31 07:40] guidezpl commented on #610
This should be fixed with https://github.com/flutter/gallery/pull/623, closing. If another issue crops up, please file a new issue

[2022-03-31 07:40] #610 closed

[2022-04-01 08:00] guidezpl opened #629 "Showcase Material 3"
Nothing's set in stone, so a few ideas:

- M2 - M3 toggle
- *new* or *updated for m3* indicator for relevant components
- Links to M3 spec
- color / typography demos updates
  - de-emphasizing predefined colors, emphasizing `ColorScheme.fromSeed`
- integration with [`dynamic_color`](//pub.dev/packages/dynamic_color)
- new, fully M3 study (https://github.com/material-foundation/pesto_flutter)

Addi

[2022-04-01 08:07] guidezpl commented on #545
Still reproes

[code]

[2022-04-02 17:23] amanv8060 opened #631 "use super parameters"
use super parameters, once it is completely incorporated into the framework.

[2022-04-05 10:55] #622 closed

[2022-04-06 14:17] guidezpl opened #632 "Integrate crashlytics or sentry"

[2022-04-08 09:54] amanv8060 commented on #632
would like to take this up

[2022-04-08 10:24] guidezpl commented on #632
Closing in favor of https://github.com/flutter/gallery/issues/633

[2022-04-08 10:25] #632 closed

[2022-04-08 10:30] guidezpl commented on #633
https://play.google.com/console/ with the Flutter stores account gives some, but limited info on crashes. Which solution to use (e.g. crashlytics, sentry) is unclear. This will probably have to be done by a team member given the need to access and store private keys.

[2022-04-08 17:42] guidezpl commented on #613
Closing this, as this issue should be fixed. Please re-open if not!

[2022-04-08 17:42] #613 closed

[2022-04-13 13:38] guidezpl commented on #636
Related: https://github.com/flutter/gallery/issues/633

[2022-04-13 14:36] HansMuller commented on #645
Such an example was added to the NavigationBar API doc in https://github.com/flutter/flutter/pull/98440. It would be easy to create a version for BottomNavigationBar.

[2022-04-16 11:33] Sushma-Shrestha opened #647 "Problem installing for package, import 'package:flutter_gen/gen_l10n/gallery_localizations.dart';"
**Installation for package:**
import 'package:flutter_gen/gen_l10n/gallery_localizations.dart';

I tried flutter pub add localization, also flutter pub add flutter_gen
checked for upgrades, reopened the file, clean and run, how ever i am not able to install it.

was the command incorrect? also i am not getting sources for gallery_localization.dart

Can anyone help me? i am **self-learning, from**

[2022-04-16 12:23] guidezpl commented on #647
Hi @Sushma-Shrestha, I think you're missing `l10n.yaml`, the configuration file. More details at https://stackoverflow.com/questions/64574620/target-of-uri-doesnt-exist-packageflutter-gen-gen-l10n-gallery-localizations

[2022-04-16 12:33] Sushma-Shrestha commented on #647
Thank you for response.
I also saw that post in stackoverflow.
so, i have to make a new file and paste that command to the file.
The file should be inside lib, right?
so, now how does l10n.yaml file get linked?

[2022-04-16 14:11] guidezpl commented on #647
It should be just like https://github.com/flutter/gallery/blob/master/l10n.yaml, and then `flutter pub get` should generate everything you need.

[2022-04-17 01:12] Sushma-Shrestha commented on #647
**Thank you so much!**

[2022-04-19 02:19] #647 closed

[2022-04-21 09:10] guidezpl opened #648 "Investiate jank reported by flutter tool"
https://iska.is/jank64 indicates a problem with the following two assets, even though they aren't really oversized. In https://github.com/flutter/flutter_gallery_assets, those would be `reply_card`, `reply_card_dark`, `flutter_logo`, and `flutter_logo_color`.

<img width="740" alt="Screen Shot 2022-04-21 at 11 05 23" src="https://user-images.githubusercontent.com/6655696/164420542-d2b249dd-7195-49

[2022-04-21 15:39] HansMuller opened #649 "Reply demo back button isn't laid our correctly when the app's window narrows"
The back-button ends up obscuring whatever the first button in the navigation bar is.

![Screen Shot 2022-04-21 at 8 32 09 AM](https://user-images.githubusercontent.com/1377460/164498193-7bddea02-1093-4e9c-9c6e-db9bf4ea1dd0.png)

[2022-04-21 16:42] guidezpl commented on #649
Should be an easy fix, https://github.com/flutter/gallery/blob/93d406a7b141695e0e6cb6e6f2c65dfa20fc83a8/lib/routes.dart#L91 indicates that the back button should be somewhere else when there's a nav bar

[2022-04-22 01:31] makoConstruct opened #650 "sample app "shrine" example shopping cart display isnt done"
![Screenshot_20220422-132413](https://user-images.githubusercontent.com/346569/164578621-0b22be46-8f0a-4886-a3d9-9f88a64ad466.jpg)

bottom right, the shopping cart examples are invisible when initially added. (They can be made visible by going into the cart and then leaving again. Which is the only reason I realize they're supposed to be visible.)

(I should also mention that the slant at the top

[2022-04-22 06:32] makoConstruct commented on #650
Okay, that means I'll have to file an additional issue, because their feedback link pointed to the wrong place.